<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- Begin JaguarPC -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<!-- Begin Header -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hybrid Server Technology - JaguarPC</title>

		<!-- Stylesheets -->
		<link type="text/css" rel="stylesheet" href="../cssfiles/main.css" media="screen" />
<script src="../js/contentslider.js" type="text/javascript"></script>
		<link type="text/css" rel="stylesheet" href="../cssfiles/jquery.fancybox.css" media="screen" />
		
		<!-- Javascripts -->
		<script type="text/javascript" src="../http/ajax.googleapis.com/ajax/libs/jquery/1.3.2/MS_9.js"></script>
		<script type="text/javascript" src="../jsfiles/typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/dakota_regular.typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/easing.js"></script>
		<script type="text/javascript" src="../jsfiles/jquery.flow.1.2.min.js"></script>
		<script type="text/javascript" src="../jsfiles/fancybox.js"></script>
		<script type="text/javascript" src="../jsfiles/ready.js"></script>
		
	</head>
	<!-- /Header -->

<!-- Begin Body -->	
<body>
	
	<!-- Page Header -->
	<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>

<!-- Page Header -->
<div id="header-wrap-bkg">
  <div id="header-wrap">
    <!-- Logo -->
    <div id="Left-Tab"> <a href="../index.html"><img src="../images/logo-top.png" alt="Jaguarpc Web Hosting"/></a> </div>
    <!-- Top Icons -->
    <div id="top-tab">
      <ul class="Top-Tabs-List">
        <li> <a href="https://secure.jaguarpc.com/clients/" class="Top-Tabs"> <img src="../images/icons/client-login.png" class="Unbordered Top-Image-Align" alt="Client Login" /> Client Login </a> </li>
        <li> <a href="http://forums.jaguarpc.com/" class="Top-Tabs"> <img src="../images/icons/live-chat.png" class="Unbordered Top-Image-Align" alt="Community Forum" /> Community </a> </li>
        <li> <a href="../contact.php.html" class="Top-Tabs"> <img src="../images/icons/contact-us.png" class="Unbordered Top-Image-Align" alt="Contact JaguarPC" /> Contact Us </a> </li>
        <li> <a href="http://blog.jaguarpc.com/" class="Top-Tabs"> <img src="../images/icons/live-chat.png" class="Unbordered Top-Image-Align" alt="JaguarPC Blog" /> Blog </a> </li>
      </ul>
    </div>
	
    <div id="top-tab02" style="padding-left:25px">
	<script type="text/javascript" src="../https/apis.google.com/js/MS_1187.js"></script>
     <g:plusone count="false"></g:plusone>
    </div>
	
	
    <!-- <div id="top-tab02">
      <ul class="Top-Tabs-List">
       
        <li> <div style="width:52px;overflow:hidden;"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/jaguarpc" send="false" width="90" show_faces="false" font=""></fb:like></div></li>
		
      </ul>
    </div> -->
	
    <div style="font-size:20px; float:right; margin-top:3px; width:460px; color:#808080; font-weight:bold;text-align: right;">
     CALL US: (888) 338-5261<br />
    </div>
  </div>
  <div class="Clear-Both"></div>
</div>
<!-- /Page Header -->
<!-- Navigation -->
<div id="nav">
  <ul>
    <li><a href="../web-hosting/index.html" title="Web Hosting">Web Hosting</a></li>
    <li><a href="../vps-hosting/index.html" title="VPS Hosting">VPS Hosting</a></li>
    <li><a href="index.html" title="Hybrid Server Hosting">Hybrid Servers</a></li>
    <li><a href="../dedicated-server-hosting/index.html" title="Dedicated Server Hosting">Dedicated Servers</a></li>
    <li><a href="../about/whyjag.php.html" title="Web Host">Why Jag</a></li>
    <li><a href="../support/index.html" title="Best Hosting Support">Support</a></li>
  </ul>
</div>
<!-- /Navigation -->
	<div class="Clear-Both"></div>
	<div id="divBottomRight" style="position:absolute">
<!-- Codes by Quackit.com -->
<script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=375,width=508,left=10,top=10,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no,status=yes')
}
</script>

<a href="JavaScript:newPopup('../chatsupport.html');"><img src="../https/secure.jaguarpc.com/images/MS_3.html" alt="" /></a></div>
<script type="text/javascript">
var ns = (navigator.appName.indexOf("Netscape") != -1);
var d = document;
var px = document.layers ? "" : "px";
function JSFX_FloatDiv(id, sx, sy)
{
	var el=d.getElementById?d.getElementById(id):d.all?d.all[id]:d.layers[id];
	window[id + "_obj"] = el;
	if(d.layers)el.style=el;
	el.cx = el.sx = sx;el.cy = el.sy = sy;
	el.sP=function(x,y){this.style.left=x+px;this.style.top=y+px;};
	el.flt=function()
	{
		var pX, pY;
		pX = (this.sx >= 0) ? 0 : ns ? innerWidth : 
		document.documentElement && document.documentElement.clientWidth ? 
		document.documentElement.clientWidth : document.body.clientWidth;
		pY = ns ? pageYOffset : document.documentElement && document.documentElement.scrollTop ? 
		document.documentElement.scrollTop : document.body.scrollTop;
		if(this.sy<0) 
		pY += ns ? innerHeight : document.documentElement && document.documentElement.clientHeight ? 
		document.documentElement.clientHeight : document.body.clientHeight;
		this.cx += (pX + this.sx - this.cx)/8;this.cy += (pY + this.sy - this.cy)/8;
		this.sP(this.cx, this.cy);
		setTimeout(this.id + "_obj.flt()", 40);
	}
	return el;
}

JSFX_FloatDiv("divBottomRight", -200, -100).flt();

</script>
	<!-- Navigation -->
	<!-- /Navigation -->
    <!-- Slider -->
<div id="Small-Slider-Purple">
		
		<div id="Small-Slider-Content">
		
		<h1>Hybrid Technology...</h1>
		<div class="typeface-js" style="font-family: Dakota">The original creators of Hybrid Servers!</div>
		
		<!-- Links -->
		<ul>
			<li class="Slider-List">
				<a href="index.html" class="Slider-Links">Hybrid Server Plan</a>
			</li>
			<li class="Slider-List">
				<a href="features.php.html" class="Slider-Links">Hybrid Features</a>
			</li>
			<li class="Slider-List">
				<a href="addons.php.html" class="Slider-Links">Hybrid Addons</a>
			</li>
			<li class="Slider-List">
				<a href="../about/network.php.html" class="Slider-Links">Network &amp; Datacenters</a>
			</li>
		</ul>
		
		</div>
		
</div>	
	<div class="bred-crumb">
	<ul>
	<li style="color:#000000;">You are here &nbsp;  &raquo;&raquo;</li>
	<li><a href="../index.html">Home</a></li>
	<li><a href="index.html" class="active">Hybrid Server</a></li>
	<li><a href="technology.php.html" class="active">Hybrid Technology</a></li>
	</ul>
	</div>
	<!-- Definition of Web Hosting -->
	<div id="Definition">
		
		<img src="../images/boxes/big-box-two.png" alt="Web Hosting" class="Float-Left" />
		<p>
			<span style="color:#333333;">Hybrid Server Technology</span> - 
			We provide various levels of management software and tools to help you
			understand and control every aspect of your Hybrid server environment. 
			Every Hybrid server powered by a Xeon Supermicro server, OpenVZ virtualization technology,
			WHM/cpanel to help you manage clients and our own JaguarPC Dashboard. 
			</p>
	</div>	
	
	<!-- Content -->
	
	<div id="Subpage-Wrapper">
		
		<!-- Content Box -->
		<div id="Left-Content">
			<h2>
				<span style="color: #532E71;">SolusVM</span>  Powered:
			</h2>

			<p class="Content-Paragraph Content-Bottom">
			JaguarPC utilizes industry-leading software and the most powerful hardware nodes to provide the industry's best Virtual Private Server (VPS). With over 13 years in business and a proven track record we deliver better support, better performance, and better reults.
			Our technology gives you the power of a full dedicated server, complete seperation, but full access to more resources than any dedicated
			server at this price. Each client will have full dedicated-server functionality - equal share CPU, dedicated and burst RAM, root access, rebootable, ability to install any application, change any file.<br /><br />
			</p>
			
			<h2>
				<span style="color: #532E71;">Management</span> Features:
			</h2>
			
		  <p class="Content-Paragraph">
			When you signup for a JaguarPC Hybrid server, you will gain access to an administrative 
			control panel that allows you to perform multiple tasks. 
			Jaguarpc boasts a large array of controls &amp; features for each client, reseller or 
			administrator. Administrators take full control where resellers can control each and 
			every client under him.	Clients can store there backups offsite in a secure central 
			location with the ability to restore them at any time.	You can backup all your virtual 
			servers to an assigned, per host node, FTP server. All virtualization types are supported 
			via this system (including Xen HVM!).	
			
			Below is a list of tasks that can be performed.
			</p>
		  
				<table class="Plan-Comparison" style="color: #605f5f;" width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr><td colspan="3"><strong>*** PLEASE NOTE: *** This feature may not be up to Date.</strong></td></tr>
                  <tr>
				    <td valign="top"><strong>Security:</strong>
					<ul>
						<li>7 layers of cluster authentication</li>
                        <li>Secure high performance C based core</li>
						<li>Brute force blacklisting</li>
						<li>Unique data encryption per installation</li>
						<li>Authentication logging</li>
						<li>Seperate admin &amp; client areas</li>
						<li>Password retrieval using unique keys</li>        
					</ul>

                    
					<strong>Adminstrator Features:</strong>
					<ul>
					  <li>Add, remove, edit virtual servers</li>
					  <li>Add, remove edit clients</li>
					  <li>Add, remove, edit resellers</li>
					  <li>Add, remove, edit clients</li>

					  <li>Reinstall operating systems</li>
					  <li>Change root passwords</li>
					  <li>Change hostnames</li>
					  <li>Direct serial console login</li>
					  <li>Add, remove, edit slaves</li>
					  <li>Add &amp; remove  IP addresses</li>

					  <li>View &amp; edit Logs</li>
					  <li>View &amp; edit Stats</li>
					  <li>Change personal details</li>
                    </ul>
                    
                    <strong>DNS Control:</strong>

					<ul>
					  <li>Add, remove, edit external DNS servers</li>
					  <li>Add, reverse DNS to any IP address</li>				
                    </ul>
                    </td>
				    <td valign="top"><strong>Network:</strong>
					  <ul>
						<li>Create IP blocks</li>

						<li>Add &amp; remove IP's</li>
						<li>Manage IP's</li>
                        <li>Reserve IP's</li>
						<li>Bandwidth accounting per virtual server</li>
						<li>Throttle virtual servers i.e 1mbit/s, 10 mbit/s</li>

					</ul><strong>Cluster Control:</strong>
					<ul>
						<li>Add &amp; manage slave nodes</li>
						<li>Monitor slave connections</li>
					</ul>
					  <strong>Client Features:</strong>

					  <ul>
						<li>Manage multiple virtual servers from a single login</li>
						<li>Reboot</li>
						<li>Shutdown</li>
						<li>Boot</li>
						<li>Reinstall operating system</li>

						<li>Change root password</li>
						<li>Change hostname</li>
						<li>Direct serial console login</li>
						<li>View IP addresses</li>
						<li>View Logs</li>
						<li>View Stats</li>

						<li>Change personal details</li>
                    </ul></td>
				    <td valign="top"><strong>Migration:</strong>
					  <ul>
						<li>Directly import virtual servers</li>
						<li>Manually import virtual servers</li>
						<li>Move virtual servers from node to node</li>

					</ul>
					  <strong>Modules &amp; API:</strong>
					  <ul>
						<li>Fully featured API</li>
						<li>Create &amp; manage API users</li>

						<li>WHMCS module</li>
					</ul>
					  <strong>Reseller Features:</strong>
					  <ul>
						<li>Manage all clients virtual servers from a single login</li>
						<li>Suspend</li>
						<li>Reboot</li>

						<li>Shutdown</li>
						<li>Boot</li>
						<li>Reinstall operating system</li>
						<li>Change root password</li>
						<li>Change hostname</li>
						<li>Direct serial console login</li>

						<li>View IP addresses</li>
						<li>View Logs</li>
						<li>View Stats</li>
						<li>Change personal details</li>
                    </ul></td>
			      </tr>
			  </table>

			
		</div>
		
		<!-- Right Bar -->
		<div id="Right-Bar">
			
   <div class="Right-Content-Box">
      <div class="Clear-Both"><a href="JavaScript:newPopup('../chatsupport.html');"><img src="../images/live-chat.gif" alt="" border="0" /></a></div>
    </div><div class="Right-Content-Box">
      <div class="Clear-Both"> <a href="../contact.php.html"><img src="../images/callus.gif" alt="" width="203" height="73" border="0" /></a> </div>
    </div><div class="Right-Content-Box">
      <div class="Clear-Both"> <a href="http://www.facebook.com/jaguarpc" target="_new"><img src="../images/facebook.gif" alt="" width="207" height="74" border="0" /></a> </div>
    </div>
	<div class="Right-Content-Box">
      <div class="Clear-Both"> <a href="http://twitter.com/" target="_new"><img src="../images/twitter.gif" alt="" width="199" height="78" border="0" /></a> </div>
    </div>
	<div class="Right-Content-Box">
      <div class="Clear-Both"><img src="../images/guarantee2.jpg" alt="" width="244" height="116" border="0" /></div>
    </div>
	<div class="Right-Content-Box">
      <div class="Clear-Both"><img src="../images/authorize.jpg" alt="" width="197" height="66" border="0" /></div>
    </div>


	
	<div class="rgt-box01">
      <div class="shd-curv1">Other Areas.</div>
      <div class="shd-mid">
        <p class="Right-List"><img src="../images/icons/Refresh.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="../affiliates/index.html">Hosting Affiliates</a></p>
        <p class="Right-List"><img src="../images/icons/MS_8.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="../services/domains.php.html">Domain Registration</a></p>
        <p class="Right-List"><img src="../images/icons/account.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="../services/merchant.php.html">Merchant Accounts</a></p>
        <p class="Right-List"><img src="../images/icons/forum_24.png" alt="" width="24" height="24" class="Float-Left Icon-Margins"/><a href="../forums/index.html">Community Forum</a></p>
        <p class="Right-List"><img src="../images/icons/blogger.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="http://blog.jaguarpc.com/">Blog</a></p>
        <p class="Right-List"><img src="../images/icons/special-offer.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="../about/policy-sla.php.html">Server Level Agreement</a></p>
      </div><div class="shd-curv"><img src="../images/shadow-btm.gif" alt="" width="268" height="6" /></div>
      
    </div>
	
	<div class="testi"><div id="slider1" class="sliderwrapper">
      <div class="contentdiv"> <p class="Content-Paragraph003">We have been using Jaguarpc service since 2011 and also have been recommend to some friends. Their service has been very good. Every technical support required is solved at the same day. Keep doing good work. Thanks, Farrukh Subhan</p>&nbsp;&nbsp; <h5 class="Italic">(By:&nbsp;<a href="http://www.exatechpk.com" target="_blank" rel="nofollow">Muhammad Farrukh Subhan</a>)</h5> </div>
      <div class="contentdiv"> <p class="Content-Paragraph003">JaguarPC have always been there for us when we have needed them host, uptime is great and support is just out of this world. </p>&nbsp;&nbsp; <h5 class="Italic">(By:&nbsp;<a href="http://burn-blue.com" target="_blank" rel="nofollow">Burn-Blue.com</a>)</h5> </div>
      <div class="contentdiv"> <p class="Content-Paragraph003">Curiosity Quills Press has been hosted with JaguarPC since February, 2012. Our server needs changed with our publishing business and JaguarPC has been there to see us through the transitions, the growing pains, the bugs and fixes that made http://curiosityquills.com a better website and a better community as a result. Readers couldn't be happier - and neither could our team.</p>&nbsp;&nbsp; <h5 class="Italic">(By:&nbsp;<a href="http://curiosityquills.com" target="_blank" rel="nofollow">Eugene Teplitsky</a>)</h5> </div>
	  <div id="paginate-slider1" class="pagination"></div>
    </div></div>

	
	
	<script type="text/javascript">

featuredcontentslider.init({
	id: "slider1",  //id of main slider DIV
	contentsource: ["inline", ""],  //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
	toc: "#increment",  ../http/valid values/MS_1188.html "#increment", "markup", ["label1", "label2", etc]
	nextprev: ["", ""],  //labels for "prev" and "next" links. Set to "" to hide.
	revealtype: "mouseover", ../http/behavior of pagination links to reveal the slides/MS_1189.html "click" or "mouseover"
	enablefade: [true, 0.1],  //[true/false, fadedegree]
	autorotate: [true, 5000],  //[true/false, pausetime]
	onChange: function(previndex, curindex){  //event handler fired whenever script changes slide
		//previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
		//curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
	}
})

</script>
      <!-- Begin Right List -->
        </div>
		<!-- /Right Bar -->
		
		<div class="Clear-Both"></div>	
		
	</div>
	<!-- /Content -->

<!-- Begin Footer -->
<!-- Begin Footer -->

<div id="Footer">
  <div class="Top-Awards">
    <div class="Logo-Types">
      <!-- Icons ->
      Left -->
      <div style="float:left; width:500px;"> <br />
<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Security Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/pci/mini/MS_1190.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Trust Guard Certified" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/certified/mini/MS_1191.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Privacy Verified Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/privacy/mini/MS_1192.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Business Verified Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/business/mini/MS_1193.html" /></a>

	<!--<a href="#"><img src="http://www.jaguarpc.com/images/footer/truste.gif" alt="" width="108" height="33" border="0" /></a>#-->
	
	</div>
      <!-- <a target='_blank'  rel="nofollow" href='http://www.bbbonline.org/cks.asp?id=1081022121914'><img src="images/footer/bbb.jpg" class="Float-Left Award-Spacing" alt="" title='Click to verify BBB accreditation and to see a BBB report.' /></a> #-->
      <!-- Icons ->
      Right -->
      <div style="float:right; width:280px; height:auto;">
        <div style="font-family:Arial, Helvetica, sans-serif ; font-size:16px; font-weight:bold; float:left; padding-right:10px; color:#605f5f; padding-top:17px;">Get Social:</div>
		<div style="float:left;"> 
		<a href="http://forums.jaguarpc.com"><img src="../images/footer/vbulletin-icon.png" alt="Community Forum" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://blog.jaguarpc.com/"><img src="../images/footer/blg-icon.gif" alt="JaguarPC Blog" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://twitter.com/"><img src="../images/footer/twitter-icon.png" alt="JaguarPC twitter" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://www.facebook.com/jaguarpc"><img src="../images/footer/facebook-icon.gif" alt="JaguarPC facebook" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
          <!--<img src="/images/footer/del.png" alt="delicious" width="33" height="35" class="Float-Right Award-Spacing" />#-->
        </div>
      </div>
      
    </div>
  </div>
  <div class="Clear-Both"></div>
  <!-- Footer ->
  Content -->
  <div id="Footer-Content">
    <!-- Footer ->
    Content -> Block 1 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../web-hosting/index.html" title="Hosting Services" class="Footer-Link">Web Hosting</a></li>
        <li class="Unbulleted-List"><a href="../reseller-hosting/index.html" title="cpanel Reseller Hosting" class="Footer-Link">Reseller Hosting</a></li>
        <li class="Unbulleted-List"><a href="../dedicated-server-hosting/index.html" title="Dedicated Servers" class="Footer-Link">Dedicated Servers</a></li>
        <li class="Unbulleted-List"><a href="../vps-hosting/linux-vps.php.html" title="Linux vps Hosting" class="Footer-Link">Linux VPS Hosting</a></li>
        <li class="Unbulleted-List"><a href="../vps-hosting/index.html" title="vps Hosting" class="Footer-Link">VPS Hosting</a></li>
      </ul>
    </div>
    <!-- Footer ->
    Content -> Separator -->
    <div class="Footer-Separator"> &nbsp; </div>
    <!-- Footer ->
    Content -> Block 2 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../articles.php.html" title="Specialty Hosting" class="Footer-Link">Hosting Specialties</a></li>
        <li class="Unbulleted-List"><a href="../affiliates/index.html" title="Hosting Affiliate program" class="Footer-Link">Affiliate Program</a></li>
        <li class="Unbulleted-List"><a href="../about/index.html" title="The Company" class="Footer-Link">About Our Company</a></li>
        <li class="Unbulleted-List"><a href="../about/team.php.html" title="About Hosting" class="Footer-Link">Talented Hosting Team</a></li>
        <li class="Unbulleted-List"><a href="../about/network.php.html" title="Datacenter and Network" class="Footer-Link">Datacenter &amp; Network</a></li>
      </ul>
    </div>
    <!-- Footer ->
    Content -> Separator -->
    <div class="Footer-Separator"> &nbsp; </div>
    <!-- Footer ->
    Content -> Block 3 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../services/index.html" title="Hosting Services" class="Footer-Link">Hosting Services</a></li>
        <li class="Unbulleted-List"><a href="http://blog.jaguarpc.com/" title="Web Hosting Blog" class="Footer-Link">Hosting Blog</a></li>
        <li class="Unbulleted-List"><a href="http://forums.jaguarpc.com" title="Hosting community" class="Footer-Link">WebHost Community</a></li>
        <li class="Unbulleted-List"><a href="../about/policy-tos.php.html" title="TOS" class="Footer-Link">Terms Of Service</a></li>
        <li class="Unbulleted-List"><a href="../sitemap.php.html" title="Hosting Sitemap" class="Footer-Link">Sitemap</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="Copyright">
  <p class="Paragraph-Padding" align="center">Copyright &copy; 2012 JaguarPC.com</p>
</div>
<!-- /Footer -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2067038-1']);
  _gaq.push(['_setDomainName', 'jaguarpc.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https/MS_1236.html' : 'http/MS_1237.html') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type='text/javascript'>
document.write(unescape("%3Cscript%20src='"+
 (document.location.protocol=='https:'?
  'https://clicktale.pantherssl.com/':
  'http://s.clicktale.net/')+
 "WRc5.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var ClickTaleSSL=1;
if(typeof ClickTale=='function') ClickTale(1272,1,"www08");
</script>
<!-- ClickTale end of Bottom part -->

<script type="text/javascript">
adroll_adv_id = "OT62MHCQUFDXPKN5TXCDPV";
adroll_pix_id = "LQHM2CORIBD3JEQS4MRVCL";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "../https/MS_1194.html" : "../http/MS_1195.html");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "../j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>
<!-- /Footer -->
</body>
<!-- /Body -->

</html>
<!-- /JaguarPC -->
