<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Live Chat</title>
<link type="text/css" rel="stylesheet" href="cssfiles/main.css" media="screen" />
<script type="text/javascript">
  var __lc = {};
  __lc.license = 1070204;

  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https/MS_4.html' : 'http/MS_5.html') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();
</script>

</head>

<body>
<div class="second-chat">
<!--<div class="schat-top"></div>-->
<div class="schat-options">
	<div class="schat-button1">
<div id="LiveChat_1339603066"><a href="http://www.livechatinc.com/?partner=lc_1070204"></a></div>
<script type="text/javascript">
	var __lc_buttons = __lc_buttons || [];
	__lc_buttons.push({
		elementId: 'LiveChat_1339603066',
		skill: '6'
	});
</script>
    </div>
	<div class="schat-button2">
    	<div id="LiveChat_1320764915"><a href="http://www.livechatinc.com/partner%3Dlc_1070204"></a></div>

<script type="text/javascript">
	var __lc_buttons = __lc_buttons || [];
	__lc_buttons.push({
		elementId: 'LiveChat_1320764915',
		language: 'en',
		skill: '1'
	});
</script>
    </div>
</div>
</div>

</body>
</html>
