<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- Begin JaguarPC -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!-- Begin Header -->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Title -->
<title>JaguarPC Sitemap</title>

<!-- Stylesheets -->
<link type="text/css" rel="stylesheet" href="cssfiles/main.css" media="screen" />
<link type="text/css" rel="stylesheet" href="cssfiles/new-home.css" media="screen" />
<script src="js/contentslider.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="cssfiles/jquery.fancybox.css" media="screen" />

<script type="text/javascript">
$(document).ready(function() {
	// 
Trigger 1.
	$('div.One-Header') .click ( function ( ) {				   
		$('div.One-Content') .toggle();									   										   
	});
	// -> Trigger 2.
	$('div.Two-Header') .click ( function ( ) {									   
		$('div.Two-Content') .toggle();									   									   
	});
	// -> Trigger 3.
	$('div.Three-Header') .click ( function ( ) {						 										   
		$('div.Three-Content') .toggle();									   							   
	});
	// -> Trigger 4.
	$('div.Four-Header') .click ( function ( ) {						 										   
		$('div.Four-Content') .toggle();									   							   
	});
	// -> Trigger 5.
	$('div.Five-Header') .click ( function ( ) {						 										   
		$('div.Five-Content') .toggle();									   							   
	});

	// -> Hide the divs on page load.
	$("div.Accordion-Content").hide();
 
});
</script>
<!-- Javascripts -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

		<script type="text/javascript" src="jsfiles/typeface.js"></script>
		<script type="text/javascript" src="jsfiles/dakota_regular.typeface.js"></script>
		<script type="text/javascript" src="jsfiles/easing.js"></script>
		<script type="text/javascript" src="jsfiles/jquery.flow.1.2.min.js"></script>
		<script type="text/javascript" src="jsfiles/fancybox.js"></script>
		<script type="text/javascript" src="jsfiles/tooltips.js"></script>
		<script type="text/javascript" src="jsfiles/ready.js"></script>
        	<script type="text/javascript">
$(document).ready(function() {
	// ->
Trigger 1.
	$('div.One-Header') .click ( function ( ) {				   
		$('div.One-Content') .toggle();									   										   
	});
	// -> Trigger 2.
	$('div.Two-Header') .click ( function ( ) {									   
		$('div.Two-Content') .toggle();									   									   
	});
	// -> Trigger 3.
	$('div.Three-Header') .click ( function ( ) {						 										   
		$('div.Three-Content') .toggle();									   							   
	});
	// -> Trigger 4.
	$('div.Four-Header') .click ( function ( ) {						 										   
		$('div.Four-Content') .toggle();									   							   
	});
	// -> Trigger 5.
	$('div.Five-Header') .click ( function ( ) {						 										   
		$('div.Five-Content') .toggle();									   							   
	});

	// -> Hide the divs on page load.
	$("div.Accordion-Content").hide();
 
});
</script>

<script type="text/javascript" src="scripts/prototype.lite.js"></script>
<script type="text/javascript" src="scripts/moo.fx.js"></script>
<script type="text/javascript" src="scripts/moo.fx.pack.js"></script>
<script type="text/javascript" src="jsfiles/typeface.js"></script>
<script type="text/javascript" src="jsfiles/dakota_regular.typeface.js"></script>
<script type="text/javascript" src="jsfiles/fancybox.js"></script>

<link rel="stylesheet" type="text/css" href="templates/chmp-dev2/jqueryslidemenu.css" />
	
<!--<script src="template/jaguarpc/js/nav-toggle.js"></script>-->
	
<script src="jsfiles/contentslider.js" type="text/javascript"></script>
	
<script type="text/javascript">

function init(){
		
		var stretchers = document.getElementsByClassName('stretcher'); //div that stretches
		var toggles = document.getElementsByClassName('tab'); //h3s where I click on

		//accordion effect
		var myAccordion = new fx.Accordion(
			toggles, stretchers, {opacity: true, height: true, duration: 400}
		);

		//hash functions
		var found = false;
		toggles.each(function(h3, i){
			var div = Element.find(h3, 'nextSibling'); //element.find is located in prototype.lite
			if (window.location.href.indexOf(h3.title) > 0) {
				myAccordion.showThisHideOpen(div);
				found = true;
			}
		});
		if (!found) myAccordion.showThisHideOpen(stretchers[0]);
	}

</script>

<!-- /Header -->

		<!-- Javascripts -->
		<script src="jsfiles/contentslider.js" type="text/javascript"></script>
		
		<!-- Java Scripts -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	
		<script type="text/javascript" src="jsfiles/typeface.js"></script>
		<script type="text/javascript" src="jsfiles/dakota_regular.typeface.js"></script>
		<script type="text/javascript" src="jsfiles/easing.js"></script>
		<script type="text/javascript" src="jsfiles/jquery.flow.1.2.min.js"></script>
		<script type="text/javascript" src="jsfiles/fancybox.js"></script>
		<script type="text/javascript" src="jsfiles/tooltips.js"></script>
		<script type="text/javascript" src="jsfiles/ready.js"></script>
		
		<script type="text/javascript" src="scripts/prototype.lite.js"></script>
		<script type="text/javascript" src="scripts/moo.fx.js"></script>
		<script type="text/javascript" src="scripts/moo.fx.pack.js"></script>

		<script type="text/javascript">
		
		function init(){
		
		var stretchers = document.getElementsByClassName('stretcher'); //div that stretches
		var toggles = document.getElementsByClassName('tab'); //h3s where I click on

		//accordion effect
		var myAccordion = new fx.Accordion(
			toggles, stretchers, {opacity: true, height: true, duration: 400}
		);

		//hash functions
		var found = false;
		toggles.each(function(h3, i){
			var div = Element.find(h3, 'nextSibling'); //element.find is located in prototype.lite
			if (window.location.href.indexOf(h3.title) > 0) {
				myAccordion.showThisHideOpen(div);
				found = true;
			}
		});
		if (!found) myAccordion.showThisHideOpen(stretchers[0]);
		}
		</script>

<!--Sprinkle tab -->
<script type="text/javascript" src="js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script type="text/javascript" src="js/sprinkle.js"></script>
<!--Sprinkle tab -->

</head>

<!-- /Header -->
<!-- Begin Body -->
<body>
<div id="header-wrap-bkg">
  <div id="header-wrap">
    <!-- Logo -->
    <div id="Left-Tab"> <a href="index.html"><img src="images/logo-top.png" alt="Jaguarpc"/></a> </div>
    <!-- Top Icons -->
    <div id="top-tab">
      <ul class="Top-Tabs-List">
        <li> <a href="https://secure.jaguarpc.com/clients/" class="Top-Tabs"> <img src="images/icons/client-login.png" class="Unbordered Top-Image-Align" alt="Client Login" /> Client Login </a> </li>
        <li> <a href="http://forums.jaguarpc.com" class="Top-Tabs"> <img src="images/icons/live-chat.png" class="Unbordered Top-Image-Align" alt="Live Chat" /> Community </a> </li>
        <li> <a href="contact.php.html" class="Top-Tabs"> <img src="images/icons/contact-us.png" class="Unbordered Top-Image-Align" alt="Contact Us" /> Contact Us </a> </li>
        <li> <a href="http://blog.jaguarpc.com/" class="Top-Tabs"> <img src="images/icons/live-chat.png" class="Unbordered Top-Image-Align" alt="Live Chat" /> Blog </a> </li>
      </ul>
    </div>
    <div id="top-tab02" style="padding-left:25px">
      <script type="text/javascript" src="https/apis.google.com/js/MS_1187.js"></script>
      <!-- <g:plusone count="false"></g:plusone>-->
    </div>
    <!--
    <div id="top-tab02">
      <ul class="Top-Tabs-List">
       
        <li> <div style="width:52px;overflow:hidden;"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/jaguarpc" send="false" width="90" show_faces="false" font=""></fb:like></div></li>
		
      </ul>
    </div>
	#-->
    <div style="font-size:20px; float:right; margin-top:3px; width:460px; color:#808080; font-weight:bold;text-align: right;"> Sales: (888) 338-5261<br />
      Support: (888)-551-3050<br />
    </div>
  </div>
  <div class="Clear-Both"></div>
</div>
<!-- /Page Header -->
<!-- Navigation -->
<div id="nav">
  <ul>
    <li><a href="web-hosting/index.html" title="Web Hosting">Web Hosting</a></li>
    <li><a href="vps-hosting/index.html" title="VPS Hosting">VPS Hosting</a></li>
    <li><a href="hybrid-server/index.html" title="Hybrid Server Hosting">Hybrid Servers</a></li>
    <li><a href="dedicated-server-hosting/index.html" title="Dedicated Server Hosting">Dedicated Servers</a></li>
    <li><a href="about/whyjag.php.html" title="Web Host">Why Jag</a></li>
    <li><a href="support/index.html" title="Best Hosting Support">Support</a></li>
  </ul>
</div>
<!-- /Navigation -->
	<div class="Clear-Both"></div>

<div id="divBottomRight" style="position:absolute">
<!-- Codes by Quackit.com -->
<script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=375,width=508,left=10,top=10,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no,status=yes')
}
</script>

<a href="JavaScript:newPopup('chatsupport.html');"><img src="images/chat.png" /></a></div>
<script type="text/javascript">
var ns = (navigator.appName.indexOf("Netscape") != -1);
var d = document;
var px = document.layers ? "" : "px";
function JSFX_FloatDiv(id, sx, sy)
{
	var el=d.getElementById?d.getElementById(id):d.all?d.all[id]:d.layers[id];
	window[id + "_obj"] = el;
	if(d.layers)el.style=el;
	el.cx = el.sx = sx;el.cy = el.sy = sy;
	el.sP=function(x,y){this.style.left=x+px;this.style.top=y+px;};
	el.flt=function()
	{
		var pX, pY;
		pX = (this.sx >= 0) ? 0 : ns ? innerWidth : 
		document.documentElement && document.documentElement.clientWidth ? 
		document.documentElement.clientWidth : document.body.clientWidth;
		pY = ns ? pageYOffset : document.documentElement && document.documentElement.scrollTop ? 
		document.documentElement.scrollTop : document.body.scrollTop;
		if(this.sy<0) 
		pY += ns ? innerHeight : document.documentElement && document.documentElement.clientHeight ? 
		document.documentElement.clientHeight : document.body.clientHeight;
		this.cx += (pX + this.sx - this.cx)/8;this.cy += (pY + this.sy - this.cy)/8;
		this.sP(this.cx, this.cy);
		setTimeout(this.id + "_obj.flt()", 40);
	}
	return el;
}

JSFX_FloatDiv("divBottomRight", -200, -100).flt();

</script>
<!-- Slider -->
<div id="Small-Slider-Grey">
  <div id="Small-Slider-Content">
    <h1>Sitemap</h1>
    <div class="typeface-js" style="font-family: Dakota;">JaguarPC Sitemap </div>
    <!-- Links -->
    <ul>
      <li class="Slider-List"><a href="web-hosting/index.html" title="Business	hosting" class="Slider-Links">Shared Hosting</a> </li>
      <li class="Slider-List"><a href="reseller-hosting/index.html" title="Reseller hosting" class="Slider-Links">Reseller Hosting</a> </li>
      <li class="Slider-List"><a href="web-hosting/compare.php.html" title="Web Hosting" class="Slider-Links">Compare Plans</a></li>
      <li class="Slider-List"><a href="services/addons.php.html" title="Hosting Addons" class="Slider-Links">Addons</a> </li>
      <li class="Slider-List"><a href="web-hosting/cpdemo.php.html" title="cpanel demo" class="Slider-Links">Control Panel </a></li>
    </ul>
  </div>
</div>
<div class="bred-crumb">
  <ul>
    <li style="color:#000000;">You are here &nbsp;  &raquo;&raquo;</li>
    <li><a href="index.html">Home</a></li>
    <li><a href="sitemap.php.html" class="active">Sitemap</a></li>
  </ul>
</div>
<!-- Content -->
<div id="Subpage-Wrapper">
  <!-- Content Box -->
  <div id="Left-Content">
    <div style="padding-left:10px;">
      <div class=sitemap>
        <ul>
          <li><a href="index.php.html">Home</a></li>
          <li><a href="https://secure.jaguarpc.com/order/">Signup Order Form</a></li>
          <li><a href="blog/index.html">Jag Web Hosting Blog</a></li>
          <li><a href="contact.php.html">Contact Us</a>
            <ul>
              <li><a href="http://forums.jaguarpc.com">Community Forums</a></li>
              <li><a href="contact.php.html">Online Contact Form</a></li>
              <li><a href="clients/index.html">Online Ticket System</a></li>
              <li><a href="mailto/MS_1210.html">Sales Email</a></li>
              <li><a href="mailto/MS_1220.html">Abuse Email</a></li>
            </ul>
          </li>
          <li><a href="about/index.html">About US</a>
            <ul>
              <li><a href="about/whyjag.php.html">Our Guarantees</a></li>
              <li><a href="about/index.html">The Company</a></li>
              <li><a href="about/team.php.html">Meet The Team</a></li>
              <li><a href="about/careers.php.html">Join Our Team</a></li>
              <li><a href="about/testimony.php.html">Testimonials</a></li>
              <li><a href="http://forums.jaguarpc.com/forumdisplay.php?f=3">News &amp; Press Releases</a></li>
              <li><a href="about/network.php.html">Network &amp; Datacenter</a></li>
              <li><a href="about/partners.php.html">Our Partners</a>
                <ul>
                  <li><a href="services/virtuozzo-licenses.php.html">Parallels Platinum Partner Distributor / Virtuozzo</a></li>
                  <li><a href="services/cpanel.php.html">Cpanel Distributor / Partner</a></li>
                  <li><a href="specialty-hosting/alstrasoft-hosting.php.html">Alstrasoft Software</a></li>
                  <li><a href="specialty-hosting/etscripts-hosting.php.html">Entertainment Scripts</a></li>
                  <li><a href="specialty-hosting/myprivategeek-hosting.php.html">MyPrivateGeek</a></li>
                </ul>
              </li>
              <li><a href="about/policy-privacy.php.html">Our Policies</a>
                <ul>
                  <li><a href="about/policy-privacy.php.html">Privacy Policy</a></li>
                  <li><a href="about/policy-sla.php.html">Service Level Agreement (SLA)</a></li>
                  <li><a href="about/policy-tos.php.html">Terms of Service (TOS)</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="services/index.html">Services</a>
            <ul>
              <li><a href="web-hosting/index.html">Shared Hosting</a></li>
              <li><a href="semi-dedicated/index.html">Semi-Dedicated</a>
                <ul>
                  <li><a href="web-hosting/compare.php.html">Compare Plans</a></li>
                  <li><a href="web-hosting/addons.php.html">Hosting Addons</a></li>
                  <li><a href="web-hosting/cpdemo.php.html">Control Panel Demo</a></li>
                </ul></li>
              <li><a href="reseller-hosting/index.html">cPanelReseller Hosting</a>
                <ul>
                  <li><a href="reseller-hosting/features.php.html">Reseller Features and Tools</a></li>
                  <li><a href="reseller-hosting/addons.php.html">Reseller Addons</a></li>
                  <li><a href="reseller-hosting/howto.php.html">How to Resell Successfully</a></li>
                </ul>
              </li>
              <li><a href="vps-hosting/index.html">Virtual Private Servers</a>
                <ul>
                  <li><a href="vps-hosting/linux-vps.php.html">Linux VPS Hosting</a></li>
                  <li><a href="vps-hosting/windows-vps.php.html">Windows VPS Hosting</a></li>
                  <li><a href="vps-hosting/managed-vps.php.html">VPS Managed Services</a></li>
                  <li><a href="vps-hosting/technology.php.html">Software &amp; Technology</a></li>
                  <li><a href="vps-hosting/aboutvps.php.html">VPS Features</a></li>
                  <li><a href="vps-hosting/addons.php.html">VPS Addons</a></li>
                </ul>
              </li>
              <li><a href="hybrid-server/index.html">Hybrid Virtual Servers</a>
                <ul>
                  <li><a href="hybrid-server/features.php.html">Hybrid Server Features</a></li>
                  <li><a href="hybrid-server/addons.php.html">Hybrid Server Addons</a></li>
                  <li><a href="hybrid-server/technology.php.html">Hybrid Server Technology</a></li>
                </ul>
              </li>
              <li><a href="dedicated-server-hosting/index.html">Dedicated Servers</a>
                <ul>
                  <li><a href="dedicated-server-hosting/overview.php.html">Dedicated Server Overview</a></li>
                  <li><a href="dedicated-server-hosting/addons.php.html">Dedicated Server Addons</a></li>
                  <li><a href="dedicated-server-hosting/managed.php.html">Dedicated Server Managed Service</a></li>
                  <li><a href="dedicated-server-hosting/specials.php.html">Dedicated Server Spcial Offers</a></li>
                </ul>
              </li>
              <li><a href="colocation-hosting/index.html">Colocation</a></li>
              <li><a href="services/backups.php.html">Backup Services</a></li>
              <li><a href="services/addons.php.html">Add-ons</a></li>
              <li><a href="services/managed.php.html">Managed Services</a></li>
              <li><a href="services/domains.php.html">Domain Registration</a></li>
              <li><a href="services/merchant.php.html">Merchant Accounts</a></li>
              <li><a href="affiliates/index.html">Affiliates</a></li>
            </ul>
          </li>
          <li><a href="support/index.html">Support</a>
            <ul>
              <li><a href="clients/index.html">JPC Dashboard</a></li>
              <li><a href="contact.php.html">Contact Us</a></li>
              <li><a href="support/index.html">24/7 Support Overview</a></li>
              <li><a href="support/kbase/index.html">FAQ / Knowledgebase</a></li>
              <li><a href="support/quickstart.php.html">Quickstart Guide</a></li>
              <li><a href="reseller-hosting/howto.php.html">Reseller Guide</a></li>
              <li><a href="support/dns.php.html">Nameserver Information</a></li>
              <li><a href="support/tutorials/index.html">Tutorials</a></li>
              <li><a href="support/docs/index.html">Download Documentation</a></li>
              <li><a href="support/weblingo.php.html">Understanding Web Lingo</a></li>
              <li><a href="support/transfer.php.html">Transferring your site</a></li>
              <li><a href="http://forums.jaguarpc.com/">Community Forum</a></li>
              <li><a href="support/status.php.html">Network Status</a></li>
              <li><a href="support/resources.php.html">Extra Resources</a></li>
              <li><a href="articles.php.html">Articles</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Right Bar -->
  <div id="Right-Bar">
    <div class="Right-Content-Box">
      <div class="Clear-Both"><a href="JavaScript:newPopup('chatsupport.html');"><img src="images/live-chat.gif" alt="" border="0" /></a></div>
    </div>
    <div class="Right-Content-Box">
      <div class="Clear-Both"> <a href="contact.php.html"><img src="images/callus.gif" alt="" width="203" height="73" border="0" /></a> </div>
    </div>
    <div class="Right-Content-Box">
      <div class="Clear-Both"> <a href="http://www.facebook.com/jaguarpc" target="_new"><img src="images/facebook.gif" alt="" width="207" height="74" border="0" /></a> </div>
    </div>
    <div class="Right-Content-Box">
      <div class="Clear-Both"> <a href="http://twitter.com/" target="_new"><img src="images/twitter.gif" alt="" width="199" height="78" border="0" /></a> </div>
    </div>
    <div class="Right-Content-Box">
      <div class="Clear-Both"><img src="images/guarantee2.jpg" alt="" width="244" height="116" border="0" /></div>
    </div>
    <div class="Right-Content-Box">
      <div class="Clear-Both"><img src="images/authorize.jpg" alt="" width="197" height="66" border="0" /></div>
    </div>
    <div class="rgt-box01">
      <div class="shd-curv1">Other Areas.</div>
      <div class="shd-mid">
        <p class="Right-List"><img src="images/icons/hosting.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="services/index.html">What is webhosting?</a></p>
        <p class="Right-List"><img src="images/icons/quick_restart.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="support/quickstart.php.html">QuickStart Guide</a></p>
        <p class="Right-List"><img src="images/icons/backup2.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="services/backups.php.html">Backup Services</a></p>
        <p class="Right-List"><img src="images/icons/Refresh.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="affiliates/index.html">Hosting Affiliates</a></p>
        <p class="Right-List"><img src="images/icons/MS_8.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="services/domains.php.html">Domain Registration</a></p>
        <p class="Right-List"><img src="images/icons/account.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="services/merchant.php.html">Merchant Accounts</a></p>
        <p class="Right-List"> <img src="images/icons/group_data.png" alt="" width="24" height="24" class="Float-Left Icon-Margins"/><a href="about/network.php.html">Network &amp;amp; Datacenters</a></p>
        <p class="Right-List"> <img src="images/icons/testimo.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="about/testimony.php.html">Testimonials</a></p>
      </div>
      <div class="shd-curv"><img src="images/shadow-btm.gif" alt="" width="268" height="6" /></div>
    </div>
    <div class="testi">
      <div id="slider1" class="sliderwrapper">
        <div class="contentdiv">
          <p class="Content-Paragraph003">This has been the best and fastest responding host I have ever used the price, employees, responses are all a 10 out of 10 great service keep it up</p>&nbsp;&nbsp; <h5 class="Italic">(By:&nbsp;<a href="http://www.prime-a.com" target="_blank" rel="nofollow">Brandon</a>)</h5>        </div>
        <div class="contentdiv">
          <p class="Content-Paragraph003">Having worked with several VPS hosting providers I have learned that the hardest thing to get out of a host is consistency. With JaguarPC I have had consistent support, consistent performance, and consistent reliability.</p>&nbsp;&nbsp; <h5 class="Italic">(By:&nbsp;<a href="http://wenbiz.org" target="_blank" rel="nofollow">Clint Eschberger</a>)</h5>        </div>
        <div class="contentdiv">
          <p class="Content-Paragraph003">Reactivity on any problem</p>&nbsp;&nbsp; <h5 class="Italic">(By:&nbsp;<a href="http://www.yoor.com" target="_blank" rel="nofollow">Johann CARNEVALI</a>)</h5>        </div>
        <div id="paginate-slider1" class="pagination"></div>
      </div>
    </div>
    <script type="text/javascript">

featuredcontentslider.init({
	id: "slider1",  //id of main slider DIV
	contentsource: ["inline", ""],  //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
	toc: "#increment",  http/valid values/MS_1188.html "#increment", "markup", ["label1", "label2", etc]
	nextprev: ["", ""],  //labels for "prev" and "next" links. Set to "" to hide.
	revealtype: "mouseover", http/behavior of pagination links to reveal the slides/MS_1189.html "click" or "mouseover"
	enablefade: [true, 0.1],  //[true/false, fadedegree]
	autorotate: [true, 5000],  //[true/false, pausetime]
	onChange: function(previndex, curindex){  //event handler fired whenever script changes slide
		//previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
		//curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
	}
})

</script>
  </div>
  <!-- /Right Bar -->
  <div class="Clear-Both"></div>
</div>
<!-- /Content -->
<div class="Clear-Both"></div>
<!-- Begin Footer -->
<div id="Footer">
<div class="Top-Awards">
    <div class="Logo-Types">
      <!-- Icons ->
      Left -->
      <div style="float:left; width:500px;"> <br />
	  <SCRIPT TYPE='text/javascript'>document.write('<a href=http://asafesite.com/check/?site='+(location.href)+'><img src=http://asafesite.com/seal_blue.png alt=A-Safe-Site title=A-Safe-Site border=0></a>')</SCRIPT><NOSCRIPT><a href='http://asafesite.com'><img src='http://asafesite.com/seal_blue.png' alt='A-Safe-Site' title='A-Safe-Site' border='0'></a></NOSCRIPT><SCRIPT SRC='http://affiliates.lifelock.com/tracking/display_random_popup.html?affiliate_id=12181&popunder=1'></SCRIPT>

        <a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;"> <img name="trustseal" alt="Security Seal" style="border: 0;" src="https/secure.trust-guard.com/seals/5785/pci/mini/MS_1190.html" /></a> <a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;"> <img name="trustseal" alt="Trust Guard Certified" style="border: 0;" src="https/secure.trust-guard.com/seals/5785/certified/mini/MS_1191.html" /></a> <a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;"> <img name="trustseal" alt="Privacy Verified Seal" style="border: 0;" src="https/secure.trust-guard.com/seals/5785/privacy/mini/MS_1192.html" /></a> <a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;"> <img name="trustseal" alt="Business Verified Seal" style="border: 0;" src="https/secure.trust-guard.com/seals/5785/business/mini/MS_1193.html" /></a>
        <!--<a href="#"><img src="http://www.jaguarpc.com/images/footer/truste.gif" alt="" width="108" height="33" border="0" /></a>#-->
      </div>
      <!-- <a target='_blank'  rel="nofollow" href='http://www.bbbonline.org/cks.asp?id=1081022121914'><img src="images/footer/bbb.jpg" class="Float-Left Award-Spacing" alt="" title='Click to verify BBB accreditation and to see a BBB report.' /></a> #-->
      <!-- Icons ->
      Right -->
      <div style="float:right; width:280px; height:auto;">
        <div style="font-family:Arial, Helvetica, sans-serif ; font-size:16px; font-weight:bold; float:left; padding-right:10px; color:#605f5f; padding-top:17px;">Get Social:</div>
        <div style="float:left;"> <a href="http://forums.jaguarpc.com"><img src="images/footer/vbulletin-icon.png" alt="blog" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a> <a href="http://blog.jaguarpc.com/"><img src="images/footer/blog-icon.gif" alt="blog" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a> <a href="http://twitter.com/"><img src="images/footer/twitter-icon.png" alt="twitter" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a> <a href="http://www.facebook.com/jaguarpc"><img src="images/footer/facebook-icon.gif" alt="facebook" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
          <!--<img src="/images/footer/del.png" alt="delicious" width="33" height="35" class="Float-Right Award-Spacing" />#-->
        </div>
      </div>
    </div>
  </div>
  <div class="Clear-Both"></div>
  <!-- Footer ->
  Content -->
  <div id="Footer-Content">
    <!-- Footer ->
    Content -> Block 1 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="web-hosting/index.html" title="Hosting Services" class="Footer-Link">Web Hosting</a></li>
        <li class="Unbulleted-List"><a href="reseller-hosting/index.html" title="cpanel Reseller Hosting" class="Footer-Link">Reseller Hosting</a></li>
        <li class="Unbulleted-List"><a href="dedicated-server-hosting/index.html" title="Dedicated Servers" class="Footer-Link">Dedicated Servers</a></li>
        <li class="Unbulleted-List"><a href="vps-hosting/linux-vps.php.html" title="Linux vps Hosting" class="Footer-Link">Linux VPS Hosting</a></li>
        <li class="Unbulleted-List"><a href="vps-hosting/index.html" title="vps Hosting" class="Footer-Link">VPS Hosting</a></li>
      </ul>
    </div>
    <!-- Footer ->
    Content -> Separator -->
    <div class="Footer-Separator"> &nbsp; </div>
    <!-- Footer ->
    Content -> Block 2 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="articles.php.html" title="Specialty Hosting" class="Footer-Link">Hosting Specialties</a></li>
        <li class="Unbulleted-List"><a href="affiliates/index.html" title="Hosting Affiliate program" class="Footer-Link">Affiliate Program</a></li>
        <li class="Unbulleted-List"><a href="about/index.html" title="The Company" class="Footer-Link">About Our Company</a></li>
        <li class="Unbulleted-List"><a href="about/team.php.html" title="About Hosting" class="Footer-Link">Talented Hosting Team</a></li>
        <li class="Unbulleted-List"><a href="about/network.php.html" title="Datacenter and Network" class="Footer-Link">Datacenter &amp; Network</a></li>
      </ul>
    </div>
    <!-- Footer ->
    Content -> Separator -->
    <div class="Footer-Separator"> &nbsp; </div>
    <!-- Footer ->
    Content -> Block 3 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="services/index.html" title="Hosting Services" class="Footer-Link">Hosting Services</a></li>
        <li class="Unbulleted-List"><a href="http://blog.jaguarpc.com/" title="Web Hosting Blog" class="Footer-Link">Hosting Blog</a></li>
        <li class="Unbulleted-List"><a href="http://forums.jaguarpc.com/" title="Hosting community" class="Footer-Link">WebHost Community</a></li>
        <li class="Unbulleted-List"><a href="about/policy-tos.php.html" title="TOS" class="Footer-Link">Terms Of Service</a></li>
        <li class="Unbulleted-List"><a href="sitemap.php.html" title="Hosting Sitemap" class="Footer-Link">Sitemap</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="Copyright">
  <p class="Paragraph-Padding" align="center">Copyright &copy; 2011 JaguarPC.com</p>
</div>
<!-- /Footer -->
<!-- Start google analytics  -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https/MS_1221.html" : "http/MS_1222.html");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-2067038-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<!-- End google analytics  -->
</body>
<!-- /Body -->
</html>
<!-- /JaguarPC -->
