
/**
 * modal
 */
.championcore-vue-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #999999;
	background-color: rgba( 150, 150, 150, 0.9 );
	
	z-index: 10000;
}

.championcore-vue-modal .championcore-vue-modal-container {
	width: 79%;
	height: 80%;
	margin: 0 auto 0 auto;
}

.championcore-vue-modal .championcore-vue-modal-container footer.modal {
}
.championcore-vue-modal .championcore-vue-modal-container header.modal {
	text-align: right;
	cursor: pointer;
	margin-top: 80px;
	background-color: black;
	color: #fff;
	height: auto;
	padding: 5px;
}
.championcore-vue-modal .championcore-vue-modal-container .close {
}

.championcore-vue-modal .championcore-vue-modal-container .modal-content {
	box-sizing: border-box;
	background-color: #ffffff;
	overflow: auto;
	height: 100%;
	padding: 10px;
	border-radius: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px
}



.championcore-vue-modal .championcore-vue-modal-container .modal-content button {
	display: inline;
	margin: 40px auto 10px auto;
	width: 8em;
	padding: 5px;
	cursor: pointer;
	background-color: #E11F7E;
	font-size: 14px;
	color: white;
	border: 0;
	border-radius: 4px;
}

@media only screen and (max-width: 1078px)  {
	.championcore-vue-modal .championcore-vue-modal-container {
		    width: 85%;
	}
}
