
/**
 * CSS for inline-edit widget
 */

 body.logged_in {
	padding-top: 160px;
}

body.logged_in > main .championcore-inline-edit {
	top: 0px;

	overflow-y: auto;
	max-height: 70vh;
}

.championcore-inline-edit {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	
	/*outline: 1px solid #55ff55;*/
	
	padding: 1px 1px 1px 1px;
	border: 1px solid #fff;
	
	/* margin-top: 160px; */
}
.championcore-inline-edit.block {
}
.championcore-inline-edit.blog {
}
.championcore-inline-edit.page {
}

.championcore-inline-edit > .championcore-inline-edit-toolbar {
	/*
	position: absolute;
	top:   -20px;
	right:  2px;
	padding: 5px 40px 5px 5px;
	*/
	position: sticky;
	top: 0px;

	padding: 1px 1px 1px 1em;

	width:       20vw;
	margin-left: 80vw;

	background: #C11A6E;
	color: #ffffff;
	
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;

	z-index: 999;
}

.championcore-inline-edit > .championcore-inline-edit-toolbar > .championcore-inline-edit-global-save {
	
	/*
	position: absolute;
	top:   -19px;
	right: -3px;
	*/
	width: 2em;

	padding: 5px;
	background: #1AC16E;
	color: #ffffff;
	
	display: block;
	z-index: 999;
	
	cursor: pointer;

	text-align: center;
}

.championcore-inline-edit > .championcore-inline-edit-toolbar .edit {
	display: inline-block;
	padding: 0 5px 0 5px;
	cursor: pointer;
	
	display: none; /*remove*/
}

.championcore-inline-edit > .championcore-inline-edit-content {
	/*padding: 3em 1px 1px 1px;/*
	/* To make sure there's no extra space at top of page when inline-editing*/
	padding: 0;
	box-sizing: border-box;
	border: 2px dashed #dddddd; /*To bring back boxes*/
	padding: 5px;
}

.championcore-inline-edit > .championcore-inline-edit-content .btn {
	display: inline-block;
	margin: 5px 10px 5px 10px;
}

.championcore-inline-edit > .championcore-inline-edit-content textarea {
	width: 100%;
}

/** Adjust Gallery & Masonry images so not too huge on inline editing */
.championcore-inline-edit > .championcore-inline-edit-content .gallery img {
	max-width: 200px;
	height: auto!important;
	margin: 0 auto;
}

.championcore-inline-edit > .championcore-inline-edit-content div.grid.gallery_masonry a.grid-item {
	max-width: 230px;
	width: 100%
}

.championcore-inline-edit > .championcore-inline-edit-content div.grid.gallery_masonry img {
}

.championcore-inline-edit > .championcore-inline-edit-content div.grid.gallery_masonry a.grid-item img.imagelightbox {
	max-width: 100%;
}

/**
 * modal
 */
.championcore-inline-edit-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #999999;
	background-color: rgba( 150, 150, 150, 0.9 );
	z-index: 1050;
	
	box-sizing: border-box;

	z-index: 10000;
}

.championcore-inline-edit-modal .championcore-inline-edit-modal-container {
	width: 79%;
	height: 80%;
	margin: 0 auto 0 auto;

	padding: 10px;
	border-radius: 4px;
}

.championcore-inline-edit-modal .championcore-inline-edit-modal-container > footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;

	background-color: #ffffff;

	padding: 10px;
}

.championcore-inline-edit-modal .championcore-inline-edit-modal-container > footer > button {
	display: block;
	margin: 0 0 0 0;
	width: 8em;
	padding: 5px;
	cursor: pointer;
	background-color: #E11F7E;
	font-size: 14px;
	color: white;
	border: 0;
	border-radius: 4px;
}

.championcore-inline-edit-modal .championcore-inline-edit-modal-container > header {
	text-align: right;
	cursor: pointer;
	margin:  0 0 0 0;
	padding: 0 0 0 0;
	background-color: black;
	height: auto;
}
.championcore-inline-edit-modal .championcore-inline-edit-modal-container .close {
	color: white;
	padding: 5px;
}

.championcore-inline-edit-modal .championcore-inline-edit-modal-container > .championcore-inline-edit-modal-container--modal-content {
	box-sizing: border-box;
	background-color: #ffffff;
	width:  100%;
	height: 100%;
	padding: 5px;

	overflow: auto;
}

.championcore-inline-edit-modal .championcore-inline-edit-modal-container .championcore-inline-edit-modal-container--modal-content .row {
	margin-top: auto;
	margin-left: 0;
	margin-right: 0;
}
.championcore-inline-edit-modal .championcore-inline-edit-modal-container .championcore-inline-edit-modal-container--modal-content .row label {
	display: block;
	font-weight: bold;
	margin-top: 10px;
}

.championcore-inline-edit-modal .championcore-inline-edit-modal-container .championcore-inline-edit-modal-container--modal-content .row input,
.championcore-inline-edit-modal .championcore-inline-edit-modal-container .championcore-inline-edit-modal-container--modal-content .row textarea {
	display: block;
	width: 100%;
	font-family: Menlo, Lucida Console, monospace, serif;
	padding: 5px;
	border: 2px solid #ccc;
	resize: none;
	border-radius: 4px;
}

.championcore-inline-edit-modal .championcore-inline-edit-modal-container .championcore-inline-edit-modal-container--modal-content .row .redactor-box {
	border: 2px solid #ccc;
	width: 100%;
}

@media only screen and (max-width: 1078px)  {
	.championcore-inline-edit-modal .championcore-inline-edit-modal-container {
		    width: 85%;
	}
}