<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- Begin JaguarPC -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<!-- Begin Header -->
	<head>
		
		<!-- Meta Tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<!-- Title -->
		<title>Terms of Service (TOS) , formerly Service Level Agreement (SLA)</title>
		
		<!-- Stylesheets -->
		<link type="text/css" rel="stylesheet" href="../cssfiles/main.css" media="screen" />
<script src="../js/contentslider.js" type="text/javascript"></script>
		<link type="text/css" rel="stylesheet" href="../cssfiles/jquery.fancybox.css" media="screen" />
		
		<!-- Javascripts -->
		<script type="text/javascript" src="../http/ajax.googleapis.com/ajax/libs/jquery/1.3.2/MS_9.js"></script>
		<script type="text/javascript" src="../jsfiles/typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/dakota_regular.typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/easing.js"></script>
		<script type="text/javascript" src="../jsfiles/jquery.flow.1.2.min.js"></script>
		<script type="text/javascript" src="../jsfiles/fancybox.js"></script>
		<script type="text/javascript" src="../jsfiles/ready.js"></script>
	</head>
	<!-- /Header -->

<!-- Begin Body -->	
<body>
	
	<!-- Page Header -->
		<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>

<!-- Page Header -->
<div id="header-wrap-bkg">
  <div id="header-wrap">
    <!-- Logo -->
    <div id="Left-Tab"> <a href="../index.html"><img src="../images/logo-top.png" alt="Jaguarpc Web Hosting"/></a> </div>
    <!-- Top Icons -->
    <div id="top-tab">
      <ul class="Top-Tabs-List">
        <li> <a href="https://secure.jaguarpc.com/clients/" class="Top-Tabs"> <img src="../images/icons/client-login.png" class="Unbordered Top-Image-Align" alt="Client Login" /> Client Login </a> </li>
        <li> <a href="http://forums.jaguarpc.com/" class="Top-Tabs"> <img src="../images/icons/live-chat.png" class="Unbordered Top-Image-Align" alt="Community Forum" /> Community </a> </li>
        <li> <a href="../contact.php.html" class="Top-Tabs"> <img src="../images/icons/contact-us.png" class="Unbordered Top-Image-Align" alt="Contact JaguarPC" /> Contact Us </a> </li>
        <li> <a href="http://blog.jaguarpc.com/" class="Top-Tabs"> <img src="../images/icons/live-chat.png" class="Unbordered Top-Image-Align" alt="JaguarPC Blog" /> Blog </a> </li>
      </ul>
    </div>
	
    <div id="top-tab02" style="padding-left:25px">
	<script type="text/javascript" src="../https/apis.google.com/js/MS_1187.js"></script>
     <g:plusone count="false"></g:plusone>
    </div>
	
	
    <!-- <div id="top-tab02">
      <ul class="Top-Tabs-List">
       
        <li> <div style="width:52px;overflow:hidden;"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/jaguarpc" send="false" width="90" show_faces="false" font=""></fb:like></div></li>
		
      </ul>
    </div> -->
	
    <div style="font-size:20px; float:right; margin-top:3px; width:460px; color:#808080; font-weight:bold;text-align: right;">
     CALL US: (888) 338-5261<br />
    </div>
  </div>
  <div class="Clear-Both"></div>
</div>
<!-- /Page Header -->
<!-- Navigation -->
<div id="nav">
  <ul>
    <li><a href="../web-hosting/index.html" title="Web Hosting">Web Hosting</a></li>
    <li><a href="../vps-hosting/index.html" title="VPS Hosting">VPS Hosting</a></li>
    <li><a href="../hybrid-server/index.html" title="Hybrid Server Hosting">Hybrid Servers</a></li>
    <li><a href="../dedicated-server-hosting/index.html" title="Dedicated Server Hosting">Dedicated Servers</a></li>
    <li><a href="whyjag.php.html" title="Web Host">Why Jag</a></li>
    <li><a href="../support/index.html" title="Best Hosting Support">Support</a></li>
  </ul>
</div>
<!-- /Navigation -->
	<div class="Clear-Both"></div>
	<div id="divBottomRight" style="position:absolute">
<!-- Codes by Quackit.com -->
<script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=375,width=508,left=10,top=10,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no,status=yes')
}
</script>

<a href="JavaScript:newPopup('../chatsupport.html');"><img src="../https/secure.jaguarpc.com/images/MS_3.html" alt="" /></a></div>
<script type="text/javascript">
var ns = (navigator.appName.indexOf("Netscape") != -1);
var d = document;
var px = document.layers ? "" : "px";
function JSFX_FloatDiv(id, sx, sy)
{
	var el=d.getElementById?d.getElementById(id):d.all?d.all[id]:d.layers[id];
	window[id + "_obj"] = el;
	if(d.layers)el.style=el;
	el.cx = el.sx = sx;el.cy = el.sy = sy;
	el.sP=function(x,y){this.style.left=x+px;this.style.top=y+px;};
	el.flt=function()
	{
		var pX, pY;
		pX = (this.sx >= 0) ? 0 : ns ? innerWidth : 
		document.documentElement && document.documentElement.clientWidth ? 
		document.documentElement.clientWidth : document.body.clientWidth;
		pY = ns ? pageYOffset : document.documentElement && document.documentElement.scrollTop ? 
		document.documentElement.scrollTop : document.body.scrollTop;
		if(this.sy<0) 
		pY += ns ? innerHeight : document.documentElement && document.documentElement.clientHeight ? 
		document.documentElement.clientHeight : document.body.clientHeight;
		this.cx += (pX + this.sx - this.cx)/8;this.cy += (pY + this.sy - this.cy)/8;
		this.sP(this.cx, this.cy);
		setTimeout(this.id + "_obj.flt()", 40);
	}
	return el;
}

JSFX_FloatDiv("divBottomRight", -200, -100).flt();

</script>
	
	<!-- Navigation -->
	
	<!-- /Navigation -->

	<!-- Slider -->
	<div id="Small-Slider-Grey">
		
		<div id="Small-Slider-Content">
		
		<h1>Service Legal Agreement (SLA)</h1>
		<div class="typeface-js" style="font-family: Dakota;">JaguarPC.com provides web hosting to a large number of clients. </div>
		
		<!-- Links -->
        <ul>
			<li class="Slider-List"> <a href="index.php.html" class="Slider-Links">About Us</a></li>  
			<li class="Slider-List"><a href="team.php.html" class="Slider-Links">Meet The Team</a></li>
			<li class="Slider-List"><a href="network.php.html" class="Slider-Links">Network &amp; Datacenters</a></li>
			<li class="Slider-List"><a href="whyjag.php.html" class="Slider-Links">Our Guarantee's</a></li>
			<li class="Slider-List"><a href="testimony.php.html" class="Slider-Links">Testimonials</a></li>
			<li class="Slider-List"><a href="../affiliates/index.html" class="Slider-Links">Affiliates </a> </li>
          </ul>

	  </div>
		
	</div>	

	<!-- Definition of Web Hosting -->
	<!-- Content -->
	
  <div id="Subpage-Wrapper">
		
		<!-- Content Box -->
		<div id="Left-Content">
			
			<p class="Content-Paragraph Content-Bottom">
			Here at JaguarPC.com we use only top quality servers, switches, and routers.  
This translates into great reliability and uptime. As a result, within our own 
server farm and facilities that are under our own control and management, 
we guarantee that our network will be up and functioning 100% of the time
. We also have a 100% Data Center systems guarantee.
          </p>
			
		  <p class="Content-Header">Eigibility: </p>
		  <p class="Content-Paragraph Content-Bottom">
		To be eligible for this SLA, your account must be in good standing. All requests 
for credit or refunds should must fulfill these requirements:
<br /> - Request must be submitted using the ticket system 
<br /> - Request must be submitted within 7 days of the issue in question  
<br /> - Your request must include a ticket number to reference that shows the issue being reported and acknowledged.<br />
          </p>
			
		  <p class="Content-Header">Network &amp; DataCenter Guarantee: </p>
		  <p class="Content-Paragraph Content-Bottom">
		 We
guarantee that the network will be available 100% of the time in a
given month (this does not include functionality of software/services
on a server), excluding scheduled maintenance. Network uptime
includes functioning of all network infrastructure including routers,
switches and cabling, but does not include services, daemons,
software running on your server, or hardware failure on a server.
Network uptime means the network itself will be up and available. In
situations where a client runs a cluster or redundant server they can
take advantage of the 100% uptime guarantee by eliminating a single
point of failure in their hardware

<br /><br />
We are not responsible for
outages or circumstances beyond our control that hinder access to
your site or server. The following are excluded from the monthly
calculation of Service Availability: 
<br />- Scheduled Maintenance: occasionally upgrades, updates, and hardware
replacements are required. We will take every precaution to avoid
downtime but it may not always be unavoidable. Downtime during
scheduled maintenance is not covered and not refundable. 
<br />- Hardware Maintenance: server hardware is not related to the network.
We maintain thousands of servers and at some point all hardware can
and will fail. We will work quickly to restore the server and use our
backups, if available, to restore service. 
<br />- Software Maintenance: while managing servers we must keep systems, OS,
kernels, and other various software updated and current to avoid
exploits and prolonged downtime or issues. At times this means
rebooting systems and rarely unexpected problems arise that extend
the maintenance window. 
<br />- Traffic conditions or outage on the Internet outside our network, issues from upstream providers, clients ISP, or local problems such as
Browser or DNS caching.
<br />- DDoS, Attacks, Exploits or hacked servers.
<br />- Failure of individual services on a server while the network is up.
<br /> - Interruptions or failure of individual service caused by client, their employees, client's customers, friends, or family to their service. 
<br /> - Inaccurate installation or configuration of software by the client or non-staff, 3rd party software, client abuse or over utilization of resources.  </p>

		  <p class="Content-Paragraph Content-Bottom">
		  We guarantee that the critical systems, including power and HVAC, will be available 100% of 
		the time in a given month, excluding scheduled maintenance and clients server power supply. 

		<br /><br />
		Critical systems includes functioning of all power and HVAC infrastructure including UPSs, PDUs and cabling, 
		but does not include the power supplies on customers' servers. NOC downtime exists when a particular 
		server is shut down due to power or heat problems and we record such a failure in the support ticket system.
          </p>
		  
		  <p class="Content-Paragraph Content-Bottom">
		If network downtime occurs the
		customer will be credited 10x (1000%) of the downtime as recorded by
		the support ticket and confirmed problem to the resolution, up to
		100% of the customer's monthly fee. If the network is out for 1 hour,
		we will credit you 10 hours of downtime. In this instance we divide
		your monthly payment by days of the month, divided by 24hrs a day to
		find an hour rate. That amount will be credited to your account
		towards your next invoice. 
          </p>

		  <p class="Content-Header">Hardware Guarantee - (Dedicated Servers Only): </p>
		  <p class="Content-Paragraph Content-Bottom">
We
guarantee the functioning of dedicated servers and their components.
We will replace any failed component at no cost to the customer while
the account is in good standing. Hardware replacement will begin once
we identify the cause of the problem. Hardware replacement is
guaranteed to be complete within 2 hours of problem identification.
This guarantee of 2 hours does not include additional actions such as
software installations, OS reinstalling, or other data or backup
services. In the event that it takes us more than 2 hours to replace
faulty hardware, we will refund the customer 10x (1000%) of the
downtime up to their monthly fee for every 1hour of downtime (up to
100% of customer's monthly fee). This means if we couldn't replace
the hardware for 4 hours for some odd reason, and then began the OS
and software install which could take hours longer, we went 2hours
past the hardware replacement time. We will credit you 2hours x 10,
20hours of service. We would not credit the time it takes to
reinstall software as everyone's system has unique requirements and
this is a hardware SLA not a software SLA. In this instance we divide
your monthly payment by days of the month, divided by 24hrs a day to
find an hour rate. That amount will be credited to your account
towards your next invoice. 

<br /><br />
Hardware is defined as the Processor(s), RAM, hard disk(s), motherboard, NIC card and other related hardware included under the server lease.<br />

<br />Occasionally servers and systems must be brought down for 
routine maintenance and upgrades to ensure that your site 
will perform optimally. However, we strive to keep such
service interruptions to a minimum, and, when possible,
give you advance notice of scheduled any maintenance. 
Scheduled service outages do not qualify for this guarantee!

<br />

<br />Additionally, this guarantee is your remedy for any unscheduled
downtime of more than limits outlined above.  
Downtime must be confirmed by a staff member in our support system.  Â 
Maximum credit given will not exceed the amount of the charge for the customer service with us.Â 
The credit will be applied to your invoice on your next due date. 
Downtime is measured from the time the customer records such failure in the support ticket system and until a resolution is provided in that ticket.
	</p>
	</div>
		
		<!-- Right Bar -->
		<div id="Right-Bar">

   <div class="Right-Content-Box">
      <div class="Clear-Both"><a href="JavaScript:newPopup('../chatsupport.html');"><img src="../images/live-chat.gif" alt="" border="0" /></a></div>
    </div><div class="Right-Content-Box">
      <div class="Clear-Both"> <a href="../contact.php.html"><img src="../images/callus.gif" alt="" width="203" height="73" border="0" /></a> </div>
    </div><div class="Right-Content-Box">
      <div class="Clear-Both"> <a href="http://www.facebook.com/jaguarpc" target="_new"><img src="../images/facebook.gif" alt="" width="207" height="74" border="0" /></a> </div>
    </div>
	<div class="Right-Content-Box">
      <div class="Clear-Both"> <a href="http://twitter.com/" target="_new"><img src="../images/twitter.gif" alt="" width="199" height="78" border="0" /></a> </div>
    </div>
	<div class="Right-Content-Box">
      <div class="Clear-Both"><img src="../images/guarantee2.jpg" alt="" width="244" height="116" border="0" /></div>
    </div>
	<div class="Right-Content-Box">
      <div class="Clear-Both"><img src="../images/authorize.jpg" alt="" width="197" height="66" border="0" /></div>
    </div>

    <!-- Begin Right List -->
    <div class="rgt-box01">
      <div class="shd-curv1">Other Areas.</div>
      <div class="shd-mid">
        <p class="Right-List"><img src="../images/icons/forum_24.png" alt="" width="24" height="24" align="left"/><a href="../forums/index.html">Community Forum</a></p>
        <p class="Right-List"><img src="../images/icons/blogger.png" alt="" width="24" height="24" align="left" /><a href="http://blog.jaguarpc.com/">Blog</a></p>
        <p class="Right-List"> <img src="../images/icons/group_data.png" alt="" width="24" height="24" align="left"/><a href="network.php.html">Network &amp; Datacenters</a></p>
        <p class="Right-List"><img src="../images/icons/Refresh.png" alt="" width="24" height="24" align="left" /><a href="../affiliates/index.html">Affiliates Program</a></p>
        <p class="Right-List"><img src="../images/icons/advertisment.png" alt="" width="24" height="24" align="left" /><a href="news.php.html">News &amp; Announcemens</a></p>
        <p class="Right-List"><img src="../images/icons/Book3.png" alt="" width="24" height="24" align="left" /><a href="../blog/category/general/press-releases/index.html">Press Releases</a></p>
        <p class="Right-List"> <img src="../images/icons/gnome-lockscreen.png" alt="" width="24" height="24" align="left" /><a href="policy-privacy.php.html">Privacy Policy</a></p>
        <p class="Right-List"><img src="../images/icons/special-offer.png" alt="" width="24" height="24" align="left" /><a href="policy-tos.php.html">Terms of Service</a></p>
      </div>
      <div class="shd-curv"><img src="../images/shadow-btm.gif" alt="" width="268" height="6" /></div>
    </div>
	
	<div class="testi"><div id="slider1" class="sliderwrapper">
      <div class="contentdiv"> <p class="Content-Paragraph003">All best, support is awesome.</p>&nbsp;&nbsp; <h5 class="Italic">(By:&nbsp;<a href="http://www.makarska-travel.info" target="_blank" rel="nofollow">Ian Perkov</a>)</h5> </div>
      <div class="contentdiv"> <p class="Content-Paragraph003">this is great company for web hosting provider i am  satisfied </p>&nbsp;&nbsp; <h5 class="Italic">(By:&nbsp;<a href="http://www.crea8ivedot.com/" target="_blank" rel="nofollow">ZEESHAN</a>)</h5> </div>
      <div class="contentdiv"> <p class="Content-Paragraph003">JaguarPC has offered me some of the best customer support I've seen and at prices that can't be beat.  I've been making webpages for 10 years now, and this is definitely one of the companies I would highly recommend for VPS hosting.</p>&nbsp;&nbsp; <h5 class="Italic">(By:&nbsp;<a href="http://www.blizzmaps.com" target="_blank" rel="nofollow">http://www.blizzmaps.com</a>)</h5> </div>
	  <div id="paginate-slider1" class="pagination"></div>
    </div></div>
	
	
	<script type="text/javascript">

featuredcontentslider.init({
	id: "slider1",  //id of main slider DIV
	contentsource: ["inline", ""],  //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
	toc: "#increment",  ../http/valid values/MS_1188.html "#increment", "markup", ["label1", "label2", etc]
	nextprev: ["", ""],  //labels for "prev" and "next" links. Set to "" to hide.
	revealtype: "mouseover", ../http/behavior of pagination links to reveal the slides/MS_1189.html "click" or "mouseover"
	enablefade: [true, 0.1],  //[true/false, fadedegree]
	autorotate: [true, 5000],  //[true/false, pausetime]
	onChange: function(previndex, curindex){  //event handler fired whenever script changes slide
		//previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
		//curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
	}
})

</script>
	
  </div>
		<!-- /Right Bar -->
		
		<div class="Clear-Both"></div>	
		
	</div>
	<!-- /Content -->	
	
<div class="Clear-Both"></div>

<!-- Begin Footer -->
<!-- Begin Footer -->

<div id="Footer">
  <div class="Top-Awards">
    <div class="Logo-Types">
      <!-- Icons ->
      Left -->
      <div style="float:left; width:500px;"> <br />
<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Security Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/pci/mini/MS_1190.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Trust Guard Certified" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/certified/mini/MS_1191.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Privacy Verified Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/privacy/mini/MS_1192.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Business Verified Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/business/mini/MS_1193.html" /></a>

	<!--<a href="#"><img src="http://www.jaguarpc.com/images/footer/truste.gif" alt="" width="108" height="33" border="0" /></a>#-->
	
	</div>
      <!-- <a target='_blank'  rel="nofollow" href='http://www.bbbonline.org/cks.asp?id=1081022121914'><img src="images/footer/bbb.jpg" class="Float-Left Award-Spacing" alt="" title='Click to verify BBB accreditation and to see a BBB report.' /></a> #-->
      <!-- Icons ->
      Right -->
      <div style="float:right; width:280px; height:auto;">
        <div style="font-family:Arial, Helvetica, sans-serif ; font-size:16px; font-weight:bold; float:left; padding-right:10px; color:#605f5f; padding-top:17px;">Get Social:</div>
		<div style="float:left;"> 
		<a href="http://forums.jaguarpc.com"><img src="../images/footer/vbulletin-icon.png" alt="Community Forum" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://blog.jaguarpc.com/"><img src="../images/footer/blg-icon.gif" alt="JaguarPC Blog" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://twitter.com/"><img src="../images/footer/twitter-icon.png" alt="JaguarPC twitter" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://www.facebook.com/jaguarpc"><img src="../images/footer/facebook-icon.gif" alt="JaguarPC facebook" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
          <!--<img src="/images/footer/del.png" alt="delicious" width="33" height="35" class="Float-Right Award-Spacing" />#-->
        </div>
      </div>
      
    </div>
  </div>
  <div class="Clear-Both"></div>
  <!-- Footer ->
  Content -->
  <div id="Footer-Content">
    <!-- Footer ->
    Content -> Block 1 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../web-hosting/index.html" title="Hosting Services" class="Footer-Link">Web Hosting</a></li>
        <li class="Unbulleted-List"><a href="../reseller-hosting/index.html" title="cpanel Reseller Hosting" class="Footer-Link">Reseller Hosting</a></li>
        <li class="Unbulleted-List"><a href="../dedicated-server-hosting/index.html" title="Dedicated Servers" class="Footer-Link">Dedicated Servers</a></li>
        <li class="Unbulleted-List"><a href="../vps-hosting/linux-vps.php.html" title="Linux vps Hosting" class="Footer-Link">Linux VPS Hosting</a></li>
        <li class="Unbulleted-List"><a href="../vps-hosting/index.html" title="vps Hosting" class="Footer-Link">VPS Hosting</a></li>
      </ul>
    </div>
    <!-- Footer ->
    Content -> Separator -->
    <div class="Footer-Separator"> &nbsp; </div>
    <!-- Footer ->
    Content -> Block 2 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../articles.php.html" title="Specialty Hosting" class="Footer-Link">Hosting Specialties</a></li>
        <li class="Unbulleted-List"><a href="../affiliates/index.html" title="Hosting Affiliate program" class="Footer-Link">Affiliate Program</a></li>
        <li class="Unbulleted-List"><a href="index.html" title="The Company" class="Footer-Link">About Our Company</a></li>
        <li class="Unbulleted-List"><a href="team.php.html" title="About Hosting" class="Footer-Link">Talented Hosting Team</a></li>
        <li class="Unbulleted-List"><a href="network.php.html" title="Datacenter and Network" class="Footer-Link">Datacenter &amp; Network</a></li>
      </ul>
    </div>
    <!-- Footer ->
    Content -> Separator -->
    <div class="Footer-Separator"> &nbsp; </div>
    <!-- Footer ->
    Content -> Block 3 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../services/index.html" title="Hosting Services" class="Footer-Link">Hosting Services</a></li>
        <li class="Unbulleted-List"><a href="http://blog.jaguarpc.com/" title="Web Hosting Blog" class="Footer-Link">Hosting Blog</a></li>
        <li class="Unbulleted-List"><a href="http://forums.jaguarpc.com" title="Hosting community" class="Footer-Link">WebHost Community</a></li>
        <li class="Unbulleted-List"><a href="policy-tos.php.html" title="TOS" class="Footer-Link">Terms Of Service</a></li>
        <li class="Unbulleted-List"><a href="../sitemap.php.html" title="Hosting Sitemap" class="Footer-Link">Sitemap</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="Copyright">
  <p class="Paragraph-Padding" align="center">Copyright &copy; 2012 JaguarPC.com</p>
</div>
<!-- /Footer -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2067038-1']);
  _gaq.push(['_setDomainName', 'jaguarpc.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https/MS_1249.html' : 'http/MS_1250.html') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type='text/javascript'>
document.write(unescape("%3Cscript%20src='"+
 (document.location.protocol=='https:'?
  'https://clicktale.pantherssl.com/':
  'http://s.clicktale.net/')+
 "WRc5.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var ClickTaleSSL=1;
if(typeof ClickTale=='function') ClickTale(1272,1,"www08");
</script>
<!-- ClickTale end of Bottom part -->

<script type="text/javascript">
adroll_adv_id = "OT62MHCQUFDXPKN5TXCDPV";
adroll_pix_id = "LQHM2CORIBD3JEQS4MRVCL";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "../https/MS_1194.html" : "../http/MS_1195.html");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "../j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>
<!-- /Footer -->
</body>
<!-- /Body -->

</html>
<!-- /JaguarPC -->
