<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- Begin JaguarPC -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<!-- Begin Header -->
	<head>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JaguarPC - 45 Day Money Back Guarantee, Web Hosting Plans</title>
<meta name= "description" content= "JaguarPC giving 45 day money back guarantee, if you are not satisfied with our web hosting services. We have a massive online community and provide instant setup. #@" />
<meta name= "keywords" content= "web hosting plan, web hosting provider, reliable web hosting services, reliable web hosting services" />
<!-- Stylesheets -->
<link type="text/css" rel="stylesheet" href="../cssfiles/main.css" media="screen" />
<link type="text/css" rel="stylesheet" href="../cssfiles/new-home.css" media="screen" />

<script src="../js/contentslider.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="../cssfiles/jquery.fancybox.css" media="screen" />

<script type="text/javascript">
$(document).ready(function() {
	// 
Trigger 1.
	$('div.One-Header') .click ( function ( ) {				   
		$('div.One-Content') .toggle();									   										   
	});
	// -> Trigger 2.
	$('div.Two-Header') .click ( function ( ) {									   
		$('div.Two-Content') .toggle();									   									   
	});
	// -> Trigger 3.
	$('div.Three-Header') .click ( function ( ) {						 										   
		$('div.Three-Content') .toggle();									   							   
	});
	// -> Trigger 4.
	$('div.Four-Header') .click ( function ( ) {						 										   
		$('div.Four-Content') .toggle();									   							   
	});
	// -> Trigger 5.
	$('div.Five-Header') .click ( function ( ) {						 										   
		$('div.Five-Content') .toggle();									   							   
	});

	// -> Hide the divs on page load.
	$("div.Accordion-Content").hide();
 
});
</script>
<!-- Javascripts -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<script type="text/javascript" src="../jsfiles/typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/dakota_regular.typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/easing.js"></script>
		<script type="text/javascript" src="../jsfiles/jquery.flow.1.2.min.js"></script>
		<script type="text/javascript" src="../jsfiles/fancybox.js"></script>
		<script type="text/javascript" src="../jsfiles/tooltips.js"></script>
		<script type="text/javascript" src="../jsfiles/ready.js"></script>
        	<script type="text/javascript">
$(document).ready(function() {
	// ->
Trigger 1.
	$('div.One-Header') .click ( function ( ) {				   
		$('div.One-Content') .toggle();									   										   
	});
	// -> Trigger 2.
	$('div.Two-Header') .click ( function ( ) {									   
		$('div.Two-Content') .toggle();									   									   
	});
	// -> Trigger 3.
	$('div.Three-Header') .click ( function ( ) {						 										   
		$('div.Three-Content') .toggle();									   							   
	});
	// -> Trigger 4.
	$('div.Four-Header') .click ( function ( ) {						 										   
		$('div.Four-Content') .toggle();									   							   
	});
	// -> Trigger 5.
	$('div.Five-Header') .click ( function ( ) {						 										   
		$('div.Five-Content') .toggle();									   							   
	});

	// -> Hide the divs on page load.
	$("div.Accordion-Content").hide();
 
});
</script>

<script type="text/javascript" src="../scripts/prototype.lite.js"></script>
<script type="text/javascript" src="../scripts/moo.fx.js"></script>
<script type="text/javascript" src="../scripts/moo.fx.pack.js"></script>
<script type="text/javascript" src="../jsfiles/typeface.js"></script>
<script type="text/javascript" src="../jsfiles/dakota_regular.typeface.js"></script>
<script type="text/javascript" src="../jsfiles/fancybox.js"></script>

<link rel="stylesheet" type="text/css" href="../templates/chmp-dev2/jqueryslidemenu.css" />
	
<!--<script src="template/jaguarpc/js/nav-toggle.js"></script>-->
	
<script src="../jsfiles/contentslider.js" type="text/javascript"></script>
	
<script type="text/javascript">

function init(){
		
		var stretchers = document.getElementsByClassName('stretcher'); //div that stretches
		var toggles = document.getElementsByClassName('tab'); //h3s where I click on

		//accordion effect
		var myAccordion = new fx.Accordion(
			toggles, stretchers, {opacity: true, height: true, duration: 400}
		);

		//hash functions
		var found = false;
		toggles.each(function(h3, i){
			var div = Element.find(h3, 'nextSibling'); //element.find is located in prototype.lite
			if (window.location.href.indexOf(h3.title) > 0) {
				myAccordion.showThisHideOpen(div);
				found = true;
			}
		});
		if (!found) myAccordion.showThisHideOpen(stretchers[0]);
	}

</script>

<!-- /Header -->

		<!-- Javascripts -->
		<script src="../jsfiles/contentslider.js" type="text/javascript"></script>
		
		<!-- Java Scripts -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	
		<script type="text/javascript" src="../jsfiles/typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/dakota_regular.typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/easing.js"></script>
		<script type="text/javascript" src="../jsfiles/jquery.flow.1.2.min.js"></script>
		<script type="text/javascript" src="../jsfiles/fancybox.js"></script>
		<script type="text/javascript" src="../jsfiles/tooltips.js"></script>
		<script type="text/javascript" src="../jsfiles/ready.js"></script>
		
		<script type="text/javascript" src="../scripts/prototype.lite.js"></script>
		<script type="text/javascript" src="../scripts/moo.fx.js"></script>
		<script type="text/javascript" src="../scripts/moo.fx.pack.js"></script>

		<script type="text/javascript">
		
		function init(){
		
		var stretchers = document.getElementsByClassName('stretcher'); //div that stretches
		var toggles = document.getElementsByClassName('tab'); //h3s where I click on

		//accordion effect
		var myAccordion = new fx.Accordion(
			toggles, stretchers, {opacity: true, height: true, duration: 400}
		);

		//hash functions
		var found = false;
		toggles.each(function(h3, i){
			var div = Element.find(h3, 'nextSibling'); //element.find is located in prototype.lite
			if (window.location.href.indexOf(h3.title) > 0) {
				myAccordion.showThisHideOpen(div);
				found = true;
			}
		});
		if (!found) myAccordion.showThisHideOpen(stretchers[0]);
		}
		</script>

<!--Sprinkle tab -->
<script type="text/javascript" src="../js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script type="text/javascript" src="../js/sprinkle.js"></script>
<!--Sprinkle tab -->
	</head>
	<!-- /Header -->

<!-- Begin Body -->	
<body>
	
	<!-- Page Header -->
	<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>

<!-- Page Header -->
<div id="header-wrap-bkg">
  <div id="header-wrap">
    <!-- Logo -->
    <div id="Left-Tab"> <a href="../index.html"><img src="../images/logo-top.png" alt="Jaguarpc Web Hosting"/></a> </div>
    <!-- Top Icons -->
    <div id="top-tab">
      <ul class="Top-Tabs-List">
        <li> <a href="https://secure.jaguarpc.com/clients/" class="Top-Tabs"> <img src="../images/icons/client-login.png" class="Unbordered Top-Image-Align" alt="Client Login" /> Client Login </a> </li>
        <li> <a href="http://forums.jaguarpc.com/" class="Top-Tabs"> <img src="../images/icons/live-chat.png" class="Unbordered Top-Image-Align" alt="Community Forum" /> Community </a> </li>
        <li> <a href="../contact.php.html" class="Top-Tabs"> <img src="../images/icons/contact-us.png" class="Unbordered Top-Image-Align" alt="Contact JaguarPC" /> Contact Us </a> </li>
        <li> <a href="http://blog.jaguarpc.com/" class="Top-Tabs"> <img src="../images/icons/live-chat.png" class="Unbordered Top-Image-Align" alt="JaguarPC Blog" /> Blog </a> </li>
      </ul>
    </div>
	
    <div id="top-tab02" style="padding-left:25px">
	<script type="text/javascript" src="../https/apis.google.com/js/MS_1187.js"></script>
     <g:plusone count="false"></g:plusone>
    </div>
	
	
    <!-- <div id="top-tab02">
      <ul class="Top-Tabs-List">
       
        <li> <div style="width:52px;overflow:hidden;"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/jaguarpc" send="false" width="90" show_faces="false" font=""></fb:like></div></li>
		
      </ul>
    </div> -->
	
    <div style="font-size:20px; float:right; margin-top:3px; width:460px; color:#808080; font-weight:bold;text-align: right;">
     CALL US: (888) 338-5261<br />
    </div>
  </div>
  <div class="Clear-Both"></div>
</div>
<!-- /Page Header -->
<!-- Navigation -->
<div id="nav">
  <ul>
    <li><a href="../web-hosting/index.html" title="Web Hosting">Web Hosting</a></li>
    <li><a href="../vps-hosting/index.html" title="VPS Hosting">VPS Hosting</a></li>
    <li><a href="../hybrid-server/index.html" title="Hybrid Server Hosting">Hybrid Servers</a></li>
    <li><a href="../dedicated-server-hosting/index.html" title="Dedicated Server Hosting">Dedicated Servers</a></li>
    <li><a href="whyjag.php.html" title="Web Host">Why Jag</a></li>
    <li><a href="../support/index.html" title="Best Hosting Support">Support</a></li>
  </ul>
</div>
<!-- /Navigation -->
	<div class="Clear-Both"></div>
	<div id="divBottomRight" style="position:absolute">
<!-- Codes by Quackit.com -->
<script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=375,width=508,left=10,top=10,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no,status=yes')
}
</script>

<a href="JavaScript:newPopup('../chatsupport.html');"><img src="../https/secure.jaguarpc.com/images/MS_3.html" alt="" /></a></div>
<script type="text/javascript">
var ns = (navigator.appName.indexOf("Netscape") != -1);
var d = document;
var px = document.layers ? "" : "px";
function JSFX_FloatDiv(id, sx, sy)
{
	var el=d.getElementById?d.getElementById(id):d.all?d.all[id]:d.layers[id];
	window[id + "_obj"] = el;
	if(d.layers)el.style=el;
	el.cx = el.sx = sx;el.cy = el.sy = sy;
	el.sP=function(x,y){this.style.left=x+px;this.style.top=y+px;};
	el.flt=function()
	{
		var pX, pY;
		pX = (this.sx >= 0) ? 0 : ns ? innerWidth : 
		document.documentElement && document.documentElement.clientWidth ? 
		document.documentElement.clientWidth : document.body.clientWidth;
		pY = ns ? pageYOffset : document.documentElement && document.documentElement.scrollTop ? 
		document.documentElement.scrollTop : document.body.scrollTop;
		if(this.sy<0) 
		pY += ns ? innerHeight : document.documentElement && document.documentElement.clientHeight ? 
		document.documentElement.clientHeight : document.body.clientHeight;
		this.cx += (pX + this.sx - this.cx)/8;this.cy += (pY + this.sy - this.cy)/8;
		this.sP(this.cx, this.cy);
		setTimeout(this.id + "_obj.flt()", 40);
	}
	return el;
}

JSFX_FloatDiv("divBottomRight", -200, -100).flt();

</script>
	<!-- Navigation -->
	
	<!-- /Navigation -->
    <!-- Slider -->
<div id="Small-Slider-Grey">
		
		<div id="Small-Slider-Content">
		
		<h1>Our Guarantees...</h1>
		<div class="typeface-js" style="font-family: Dakota;">Why we think you should choose us as your hosting provider</div>
		
		<!-- Links -->
        <ul>
			<li class="Slider-List"> <a href="index.php.html" class="Slider-Links">About Us</a></li>  
			<li class="Slider-List"><a href="team.php.html" class="Slider-Links">Meet The Team</a></li>
			<li class="Slider-List"><a href="network.php.html" class="Slider-Links">Network &amp; Datacenters</a></li>
			<li class="Slider-List"><a href="careers.php.html" class="Slider-Links">We're Hiring</a></li>
			<li class="Slider-List"><a href="testimony.php.html" class="Slider-Links">Testimonials</a></li>
			<li class="Slider-List"><a href="../affiliates/index.html" class="Slider-Links">Affiliates </a> </li>
          </ul>
		</div>
		
</div>	

	<div class="bred-crumb">
	<ul>
	<li style="color:#000000;">You are here &nbsp;  &raquo;&raquo;</li>
	<li><a href="../index.html">Home</a></li>
	<li><a href="whyjag.php.html" class="active">Why Jag</a></li>
	</ul>
	</div>
	<!-- Content -->
	
  <div id="Subpage-Wrapper">
		
		<!-- Content Box -->
		<div id="Left-Content">
			
			<p class="Content-Header"><span style="color: #495B69;">30 Day</span> Moneyback Guarantee:</p>
			<img src="../images/icons/moneyback2.png" class="Float-Left feature" width="100" height="100" alt="Failover Icon" />
			<p class="Content-Paragraph Content-Bottom">
			The JaguarPC.com brand stands behind everything we do. We are so confident in our ability to satisfy
            your web hosting needs that we back all of our shared hosting plans with an unconditional 30 day money
            back guarantee. If for any reason during the first 30 days you are not completely satisfied for any reason,
            you may cancel your account and we will refund any hosting package fee that we have collected.
            </p>
			
		  <p class="Content-Header"><span style="color: #495B69;">Instant</span> Setup:</p>
		  <img src="../images/icons/instant-setup.png" class="Float-Left feature" width="100" height="100" alt="Failover Icon" />
		  <p class="Content-Paragraph Content-Bottom">
		  Our system creates shared hosting accounts automatically. Your new web hosting account will be created 
          within minutes of placing an order and making a payment. You will then receive your account activation
          email along with account login details so that you can start uploading and managing your new account. 
          Customers who have ordered VPS or Dedicated servers will still have their accounts setups almost instantly 
          however it requires some manual intervention.
          </p>
			
		  <p class="Content-Header"><span style="color: #495B69;">Massive</span> Online Community:</p>
		  <img src="../images/icons/online-com.png" class="Float-Left feature" width="100" height="100" alt="Failover Icon" />
		  <p class="Content-Paragraph Content-Bottom">
		  JaguarPc's unique philosphy in customer service is visible in everything we do from deploying a server
          to troubleshooting shared hosting accoun. We are so sure of our services being so amazing that we provide 
          an open forum for our entire community to chat, voice opions, discuss issues or concerns, or just provide 
          honest feedback. You won't find a more open and honest hosting forum online, guaranteed!
          </p>

		  <p class="Content-Header"><span style="color: #495B69;">Privacy</span> &amp; Security:</p>
		  <img src="../images/icons/lock.png" class="Float-Left feature" width="100" height="100" alt="Failover Icon" />
		  <p class="Content-Paragraph Content-Bottom">
		  In todays fast paced and often iffy web transactions you can't be too careful. Rest assured we place the 
          same top priority with your personal, business, and website information as we do our own. We will never 
          share or sell any of your information to anyone. We take great measures and use cutting edge technology 
          to secure everthing on our network. We comply fully to PCI DSS rules for that extra piece of mind. 
          </p>
			
		  <p class="Content-Header"><span style="color: #495B69;">Uptime</span> Guarantee:</p>
		  <img src="../images/icons/uptime.png" class="Float-Left feature" width="100" height="100" alt="Failover Icon" />
		  <p class="Content-Paragraph Content-Bottom">
		  Anyone can host a website, very few can do it right! We use the best equipment, most talented individuals,
          and streamlined policies to make sure your site and data are up when you need it. We guarantee your site 
          will be up all day everday for 365 days of the year (366 if its a leap year) or we will back it up with a refund.
          For more information on our guarantees, please see our Terms of services for details and specifics.
          </p>
			
          <p class="Content-Header"><span style="color: #495B69;">Cutting</span> Edge Development:</p>
		  <img src="../images/icons/dev.png" class="Float-Left feature" width="100" height="100" alt="Failover Icon" />
		  <p class="Content-Paragraph Content-Bottom">
		  Our in house development team are always planning and producing new ways to revolutionize the hosting industry... 
          First we bought you our own in-house billing system - Nixcore, then came along VS Control and enterprise 
          virtualisation platform. Rest assured we will continue to bring you cutting edge technology, features, and tools 
          far ahead of the competition. Have an idea? Lets talk about it in our community forums and get it deployed!
          </p>
             
          <p class="Content-Header"><span style="color: #495B69;">Satisfaction</span> Guaranteed:</p>
		  <img src="../images/icons/satisfied.png" class="Float-Left feature" width="100" height="100" alt="Failover Icon" />
		  <p class="Content-Paragraph Content-Bottom">
		  The bottom line is because we truly care! We have been in this industry since 1998 and know we owe that all to 
          our loyal clients. We put the client first in everything we do from tightly controlled and monitored machines 
          to overall network performance. We don't sell the cheapest services on the market but we do sell the best! 
          Please take this opportunity to join the community here at JaguarPC.
          </p>
			
			
	</div>
		
		<!-- Right Bar -->
		<div id="Right-Bar">

   <div class="Right-Content-Box">
      <div class="Clear-Both"><a href="JavaScript:newPopup('../chatsupport.html');"><img src="../images/live-chat.gif" alt="" border="0" /></a></div>
    </div><div class="Right-Content-Box">
      <div class="Clear-Both"> <a href="../contact.php.html"><img src="../images/callus.gif" alt="" width="203" height="73" border="0" /></a> </div>
    </div><div class="Right-Content-Box">
      <div class="Clear-Both"> <a href="http://www.facebook.com/jaguarpc" target="_new"><img src="../images/facebook.gif" alt="" width="207" height="74" border="0" /></a> </div>
    </div>
	<div class="Right-Content-Box">
      <div class="Clear-Both"> <a href="http://twitter.com/" target="_new"><img src="../images/twitter.gif" alt="" width="199" height="78" border="0" /></a> </div>
    </div>
	<div class="Right-Content-Box">
      <div class="Clear-Both"><img src="../images/guarantee2.jpg" alt="" width="244" height="116" border="0" /></div>
    </div>
	<div class="Right-Content-Box">
      <div class="Clear-Both"><img src="../images/authorize.jpg" alt="" width="197" height="66" border="0" /></div>
    </div>

		<!-- Begin Right List -->
    <div class="rgt-box01">
      <div class="shd-curv1">Other Areas.</div>
      <div class="shd-mid">
        <p class="Right-List"><img src="../images/icons/forum_24.png" alt="" width="24" height="24" align="left"/><a href="../forums/index.html">Community Forum</a></p>
        <p class="Right-List"><img src="../images/icons/blogger.png" alt="" width="24" height="24" align="left" /><a href="http://blog.jaguarpc.com/">Blog</a></p>
        <p class="Right-List"> <img src="../images/icons/group_data.png" alt="" width="24" height="24" align="left"/><a href="network.php.html">Network &amp; Datacenters</a></p>
        <p class="Right-List"><img src="../images/icons/Refresh.png" alt="" width="24" height="24" align="left" /><a href="../affiliates/index.html">Affiliates Program</a></p>
        <p class="Right-List"><img src="../images/icons/advertisment.png" alt="" width="24" height="24" align="left" /><a href="news.php.html">News &amp; Announcemens</a></p>
        <p class="Right-List"><img src="../images/icons/Book3.png" alt="" width="24" height="24" align="left" /><a href="../blog/category/general/press-releases/index.html">Press Releases</a></p>
        <p class="Right-List"> <img src="../images/icons/gnome-lockscreen.png" alt="" width="24" height="24" align="left" /><a href="policy-privacy.php.html">Privacy Policy</a></p>
        <p class="Right-List"><img src="../images/icons/special-offer.png" alt="" width="24" height="24" align="left" /><a href="policy-sla.php.html">Server Level Agreement</a></p>
      </div>
      <div class="shd-curv"><img src="../images/shadow-btm.gif" alt="" width="268" height="6" /></div>
    </div>
	
	<div class="testi"><div id="slider1" class="sliderwrapper">
      <div class="contentdiv"> <p class="Content-Paragraph003">I design and build websites for my clients.  I have about 40 websites hosted with Jaguar PC right now.  I had them all hosted on another VPS provider until about a year ago.  I was frustrated with all the equipment failures and very poor technical support I was receiving at the other provider.

Since moving all my sites to a new VPS at Jaguar PC, I have not had 1 single hardware issue and the Tech Support has been incredibly helpful and easy to work with.

I now hav 2 VPSs hosted here at Jaguar PC and I am a believer in this company.

Thanks Jaguar PC!</p>&nbsp;&nbsp; <h5 class="Italic">(By:&nbsp;<a href="http://bamadigital.com" target="_blank" rel="nofollow">Nathan Geno</a>)</h5> </div>
      <div class="contentdiv"> <p class="Content-Paragraph003">I have used JaguarPC for over 4 years and i must say they provide excellent value for money that you can't find anywhere else!</p>&nbsp;&nbsp; <h5 class="Italic">(By:&nbsp;<a href="http://jumbojet" target="_blank" rel="nofollow">Chris Aggett</a>)</h5> </div>
      <div class="contentdiv"> <p class="Content-Paragraph003">I have been using JaguarPC for well over 4 years now and i must say you get excellent value for money that you can't get anywhere else!</p>&nbsp;&nbsp; <h5 class="Italic">(By:&nbsp;<a href="http://jumbojet.co.za" target="_blank" rel="nofollow">chris aggett</a>)</h5> </div>
	  <div id="paginate-slider1" class="pagination"></div>
    </div></div>

	
	<script type="text/javascript">

featuredcontentslider.init({
	id: "slider1",  //id of main slider DIV
	contentsource: ["inline", ""],  //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
	toc: "#increment",  ../http/valid values/MS_1188.html "#increment", "markup", ["label1", "label2", etc]
	nextprev: ["", ""],  //labels for "prev" and "next" links. Set to "" to hide.
	revealtype: "mouseover", ../http/behavior of pagination links to reveal the slides/MS_1189.html "click" or "mouseover"
	enablefade: [true, 0.1],  //[true/false, fadedegree]
	autorotate: [true, 5000],  //[true/false, pausetime]
	onChange: function(previndex, curindex){  //event handler fired whenever script changes slide
		//previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
		//curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
	}
})

</script>
	
  </div>
		<!-- /Right Bar -->
		
		<div class="Clear-Both"></div>	
		
</div>
	<!-- /Content -->	
	
<div class="Clear-Both"></div>

<!-- Begin Footer -->
<!-- Begin Footer -->

<div id="Footer">
  <div class="Top-Awards">
    <div class="Logo-Types">
      <!-- Icons ->
      Left -->
      <div style="float:left; width:500px;"> <br />
<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Security Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/pci/mini/MS_1190.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Trust Guard Certified" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/certified/mini/MS_1191.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Privacy Verified Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/privacy/mini/MS_1192.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Business Verified Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/business/mini/MS_1193.html" /></a>

	<!--<a href="#"><img src="http://www.jaguarpc.com/images/footer/truste.gif" alt="" width="108" height="33" border="0" /></a>#-->
	
	</div>
      <!-- <a target='_blank'  rel="nofollow" href='http://www.bbbonline.org/cks.asp?id=1081022121914'><img src="images/footer/bbb.jpg" class="Float-Left Award-Spacing" alt="" title='Click to verify BBB accreditation and to see a BBB report.' /></a> #-->
      <!-- Icons ->
      Right -->
      <div style="float:right; width:280px; height:auto;">
        <div style="font-family:Arial, Helvetica, sans-serif ; font-size:16px; font-weight:bold; float:left; padding-right:10px; color:#605f5f; padding-top:17px;">Get Social:</div>
		<div style="float:left;"> 
		<a href="http://forums.jaguarpc.com"><img src="../images/footer/vbulletin-icon.png" alt="Community Forum" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://blog.jaguarpc.com/"><img src="../images/footer/blg-icon.gif" alt="JaguarPC Blog" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://twitter.com/"><img src="../images/footer/twitter-icon.png" alt="JaguarPC twitter" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://www.facebook.com/jaguarpc"><img src="../images/footer/facebook-icon.gif" alt="JaguarPC facebook" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
          <!--<img src="/images/footer/del.png" alt="delicious" width="33" height="35" class="Float-Right Award-Spacing" />#-->
        </div>
      </div>
      
    </div>
  </div>
  <div class="Clear-Both"></div>
  <!-- Footer ->
  Content -->
  <div id="Footer-Content">
    <!-- Footer ->
    Content -> Block 1 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../web-hosting/index.html" title="Hosting Services" class="Footer-Link">Web Hosting</a></li>
        <li class="Unbulleted-List"><a href="../reseller-hosting/index.html" title="cpanel Reseller Hosting" class="Footer-Link">Reseller Hosting</a></li>
        <li class="Unbulleted-List"><a href="../dedicated-server-hosting/index.html" title="Dedicated Servers" class="Footer-Link">Dedicated Servers</a></li>
        <li class="Unbulleted-List"><a href="../vps-hosting/linux-vps.php.html" title="Linux vps Hosting" class="Footer-Link">Linux VPS Hosting</a></li>
        <li class="Unbulleted-List"><a href="../vps-hosting/index.html" title="vps Hosting" class="Footer-Link">VPS Hosting</a></li>
      </ul>
    </div>
    <!-- Footer ->
    Content -> Separator -->
    <div class="Footer-Separator"> &nbsp; </div>
    <!-- Footer ->
    Content -> Block 2 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../articles.php.html" title="Specialty Hosting" class="Footer-Link">Hosting Specialties</a></li>
        <li class="Unbulleted-List"><a href="../affiliates/index.html" title="Hosting Affiliate program" class="Footer-Link">Affiliate Program</a></li>
        <li class="Unbulleted-List"><a href="index.html" title="The Company" class="Footer-Link">About Our Company</a></li>
        <li class="Unbulleted-List"><a href="team.php.html" title="About Hosting" class="Footer-Link">Talented Hosting Team</a></li>
        <li class="Unbulleted-List"><a href="network.php.html" title="Datacenter and Network" class="Footer-Link">Datacenter &amp; Network</a></li>
      </ul>
    </div>
    <!-- Footer ->
    Content -> Separator -->
    <div class="Footer-Separator"> &nbsp; </div>
    <!-- Footer ->
    Content -> Block 3 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../services/index.html" title="Hosting Services" class="Footer-Link">Hosting Services</a></li>
        <li class="Unbulleted-List"><a href="http://blog.jaguarpc.com/" title="Web Hosting Blog" class="Footer-Link">Hosting Blog</a></li>
        <li class="Unbulleted-List"><a href="http://forums.jaguarpc.com" title="Hosting community" class="Footer-Link">WebHost Community</a></li>
        <li class="Unbulleted-List"><a href="policy-tos.php.html" title="TOS" class="Footer-Link">Terms Of Service</a></li>
        <li class="Unbulleted-List"><a href="../sitemap.php.html" title="Hosting Sitemap" class="Footer-Link">Sitemap</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="Copyright">
  <p class="Paragraph-Padding" align="center">Copyright &copy; 2012 JaguarPC.com</p>
</div>
<!-- /Footer -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2067038-1']);
  _gaq.push(['_setDomainName', 'jaguarpc.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https/MS_1249.html' : 'http/MS_1250.html') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type='text/javascript'>
document.write(unescape("%3Cscript%20src='"+
 (document.location.protocol=='https:'?
  'https://clicktale.pantherssl.com/':
  'http://s.clicktale.net/')+
 "WRc5.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var ClickTaleSSL=1;
if(typeof ClickTale=='function') ClickTale(1272,1,"www08");
</script>
<!-- ClickTale end of Bottom part -->

<script type="text/javascript">
adroll_adv_id = "OT62MHCQUFDXPKN5TXCDPV";
adroll_pix_id = "LQHM2CORIBD3JEQS4MRVCL";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "../https/MS_1194.html" : "../http/MS_1195.html");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "../j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>
<!-- /Footer -->
</body>
<!-- /Body -->

</html>
<!-- /JaguarPC -->
