/* CSS Document */
#wrap {
		width: 100%; height:auto;
		}
	.tabbed-box {
		width: 100%; height:auto; 
		}
		
	.tabbed-box .tabs li {
		list-style: none;
		float: left;
		 }
	.tabbed-box .tabs li a {
		display: block;
		width: 322px; height:auto;
		text-decoration: none;
		}
		.tabbed-box .tabs li a img{ padding-right:10px; float:left; margin-left:10px;}
		
	.tabbed-box .tabs li:first-child a {
		border-left: none; }
	.tabbed-box .tabs li a:hover {
		color: #333; }
	.tabbed-box .tabs li a:focus {
		outline: none; }
	.tabbed-box .tabs li a.active, .tabbed-box .tabs li a.active:hover {
	
		}
	.tabbed-content {
		display: none; 
		}
		
		.tabbed-content1 { width:100%; height:350px; float:left; background:#cccccc;
		display: none; 
		}