.base-class { background-image: url(/assets/_sprites/sprite-Index_Page_Toplist_aca99ae351e35a480bf6ab82d5b4cb61.png); background-repeat: no-repeat; }
.sprite-class-toplist-provider-259 { background-position: 0 -0px; height:30px; width:150px }
.sprite-class-toplist-provider-57 { background-position: 0 -30px; height:30px; width:150px }
.sprite-class-toplist-provider-28 { background-position: 0 -60px; height:30px; width:150px }
.sprite-class-toplist-provider-9 { background-position: 0 -90px; height:30px; width:150px }
.sprite-class-toplist-provider-53 { background-position: 0 -120px; height:30px; width:150px }
.sprite-class-toplist-provider-7 { background-position: 0 -150px; height:30px; width:150px }
.sprite-class-toplist-provider-127 { background-position: 0 -180px; height:30px; width:150px }
