<!DOCTYPE html>
<html>
<head>
    <!--baseURL-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
	<meta name="description" content="">
	<meta name="keywords" content="">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
    
    
<link href="bundles/Professional_skeleton.css" rel="stylesheet">
</head>
<body>
	<div id="page" class="page">
		<div class="block empty yummy" style="padding-top: 50px; padding-bottom: 50px; background-color: #fff">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="">This is a H1 heading</h1>
						<p class="">{{{{page layout - content for page inserted here by ChampionCMS}}}}.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /#page -->
	<script type="text/javascript" src="bundles/Professional_skeleton.bundle.js">
	</script>
	 </body></html>