<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- Begin JaguarPC -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<!-- Begin Header -->
	<head>
		
		<!-- Meta Tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name= "description" content= "JaguarPC web hosting provider offer Web Hosting, Reseller & Semi-Dedicated Hosting Services. Get comparison table to choose the best plan that suits your needs #@" />
		<meta name= "keywords" content= "web hosting, reseller hosting, semi-dedicated hosting" />

		<!-- Title -->
		<title>Hosting Package Comparison - Web Hosting, Reseller & Semi-Dedicated Hosting Services</title>
		
		<!-- Stylesheets -->
<link type="text/css" rel="stylesheet" href="../cssfiles/main.css" media="screen" />
<link href="../cssfiles/new-home.css" rel="stylesheet" type="text/css" />

<link type="text/css" rel="stylesheet" href="../cssfiles/jqueryslidemenu2.css" media="screen" />

<script src="../jsfiles/contentslider2.js" type="text/javascript"></script>
<script src="../contentslider.js" type="text/javascript"></script>

<link type="text/css" rel="stylesheet" href="../cssfiles/jquery.fancybox.css" media="screen" />

<!-- Javascripts --
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
-->
<!-- Java Scripts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>		
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>		
		
<script type="text/javascript" src="../jsfiles/typeface.js"></script>
<script type="text/javascript" src="../jsfiles/dakota_regular.typeface.js"></script>
<script type="text/javascript" src="../jsfiles/easing.js"></script>
<script type="text/javascript" src="../jsfiles/jquery.flow.1.2.min.js"></script>
<script type="text/javascript" src="../jsfiles/fancybox.js"></script>

<script type="text/javascript" src="../scripts/prototype.lite.js"></script>
<script type="text/javascript" src="../scripts/moo.fx.js"></script>
<script type="text/javascript" src="../scripts/moo.fx.pack.js"></script>
<script type="text/javascript" src="../js/organictabs.jquery.js"></script>

<script type="text/javascript">
        $(function() {
    
            $("#example-one").organicTabs();
            
            $("#example-two").organicTabs({
                "speed": 200
            });
    
        });
    </script>
	
<script type="text/javascript" src="../js/slides.min.jquery.js"></script>
	
	<script type="text/javascript">
	
	var j = jQuery.noConflict();
		j(function(){
			j('#slides_three').slides({
				generateNextPrev: true,
				play: 6500,
				autoHeight: true,
				generatePagination: false,
				randomize: true,
				
			});
			
			/*
				You could also combin them all
				But you can't customize each this way
				
				$('#slides,#slides_two,#slides_three').slides({
					preload: true,
					generateNextPrev: true
				});
			*/

			/*	
				Or use a class for all three
				If all three had class="slides"
				Same here can't customize each this way
				
				$('.slides').slides({
					preload: true,
					generateNextPrev: true
				});
			*/
		});
	</script>
	
	

		<!-- Javascripts -->
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		
		<script type="text/javascript" src="../jsfiles/typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/dakota_regular.typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/easing.js"></script>
		<script type="text/javascript" src="../jsfiles/jquery.flow.1.2.min.js"></script>
		<script type="text/javascript" src="../jsfiles/fancybox.js"></script>
		<script type="text/javascript" src="../jsfiles/tooltips.js"></script>
		<script type="text/javascript" src="../jsfiles/ready.js"></script>
		
        	<script type="text/javascript">
			$(document).ready(function() {
	// -> Trigger 1.
	$('div.One-Header') .click ( function ( ) {				   
		$('div.One-Content') .toggle();									   										   
	});
	// -> Trigger 2.
	$('div.Two-Header') .click ( function ( ) {									   
		$('div.Two-Content') .toggle();									   									   
	});
	// -> Trigger 3.
	$('div.Three-Header') .click ( function ( ) {						 										   
		$('div.Three-Content') .toggle();									   							   
	});
	// -> Trigger 4.
	$('div.Four-Header') .click ( function ( ) {						 										   
		$('div.Four-Content') .toggle();									   							   
	});
	// -> Trigger 5.
	$('div.Five-Header') .click ( function ( ) {						 										   
		$('div.Five-Content') .toggle();									   							   
	});

	// -> Hide the divs on page load.
	$("div.Accordion-Content").hide();
 
});

    </script>

		
	</head>
	<!-- /Header -->

<!-- Begin Body -->	
<body>
	
	<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>

<!-- Page Header -->
<div id="header-wrap-bkg">
  <div id="header-wrap">
    <!-- Logo -->
    <div id="Left-Tab"> <a href="../index.html"><img src="../images/logo-top.png" alt="Jaguarpc Web Hosting"/></a> </div>
    <!-- Top Icons -->
    <div id="top-tab">
      <ul class="Top-Tabs-List">
        <li> <a href="https://secure.jaguarpc.com/clients/" class="Top-Tabs"> <img src="../images/icons/client-login.png" class="Unbordered Top-Image-Align" alt="Client Login" /> Client Login </a> </li>
        <li> <a href="http://forums.jaguarpc.com/" class="Top-Tabs"> <img src="../images/icons/live-chat.png" class="Unbordered Top-Image-Align" alt="Community Forum" /> Community </a> </li>
        <li> <a href="../contact.php.html" class="Top-Tabs"> <img src="../images/icons/contact-us.png" class="Unbordered Top-Image-Align" alt="Contact JaguarPC" /> Contact Us </a> </li>
        <li> <a href="http://blog.jaguarpc.com/" class="Top-Tabs"> <img src="../images/icons/live-chat.png" class="Unbordered Top-Image-Align" alt="JaguarPC Blog" /> Blog </a> </li>
      </ul>
    </div>
	
    <div id="top-tab02" style="padding-left:25px">
	<script type="text/javascript" src="../https/apis.google.com/js/MS_1187.js"></script>
     <g:plusone count="false"></g:plusone>
    </div>
	
	
     <div id="top-tab02">
      <ul class="Top-Tabs-List">
       
        <li> <div style="width:52px;overflow:hidden;"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/jaguarpc" send="false" width="90" show_faces="false" font=""></fb:like></div></li>
		
      </ul>
    </div> 
	
    <div style="font-size:20px; float:right; margin-top:3px; width:460px; color:#808080; font-weight:bold;text-align: right;">
     CALL US: (888) 338-5261<br />
    </div>
  </div>
  <div class="Clear-Both"></div>
</div>
<!-- /Page Header -->
<!-- Navigation -->
<div id="nav">
  <ul>
    <li><a href="index.html" title="Web Hosting">Web Hosting</a></li>
    <li><a href="../vps-hosting/index.html" title="VPS Hosting">VPS Hosting</a></li>
    <li><a href="../hybrid-server/index.html" title="Hybrid Server Hosting">Hybrid Servers</a></li>
    <li><a href="../dedicated-server-hosting/index.html" title="Dedicated Server Hosting">Dedicated Servers</a></li>
    <li><a href="../about/whyjag.php.html" title="Web Host">Why Jag</a></li>
    <li><a href="../support/index.html" title="Best Hosting Support">Support</a></li>
  </ul>
</div>
<!-- /Navigation -->
	<div class="Clear-Both"></div>
	<div id="divBottomRight" style="position:absolute">
<!-- Codes by Quackit.com -->
<script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=375,width=508,left=10,top=10,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no,status=yes')
}
</script>

<a href="JavaScript:newPopup('../chatsupport.html');"><img src="../https/secure.jaguarpc.com/images/MS_3.html" alt="" /></a></div>
<script type="text/javascript">
var ns = (navigator.appName.indexOf("Netscape") != -1);
var d = document;
var px = document.layers ? "" : "px";
function JSFX_FloatDiv(id, sx, sy)
{
	var el=d.getElementById?d.getElementById(id):d.all?d.all[id]:d.layers[id];
	window[id + "_obj"] = el;
	if(d.layers)el.style=el;
	el.cx = el.sx = sx;el.cy = el.sy = sy;
	el.sP=function(x,y){this.style.left=x+px;this.style.top=y+px;};
	el.flt=function()
	{
		var pX, pY;
		pX = (this.sx >= 0) ? 0 : ns ? innerWidth : 
		document.documentElement && document.documentElement.clientWidth ? 
		document.documentElement.clientWidth : document.body.clientWidth;
		pY = ns ? pageYOffset : document.documentElement && document.documentElement.scrollTop ? 
		document.documentElement.scrollTop : document.body.scrollTop;
		if(this.sy<0) 
		pY += ns ? innerHeight : document.documentElement && document.documentElement.clientHeight ? 
		document.documentElement.clientHeight : document.body.clientHeight;
		this.cx += (pX + this.sx - this.cx)/8;this.cy += (pY + this.sy - this.cy)/8;
		this.sP(this.cx, this.cy);
		setTimeout(this.id + "_obj.flt()", 40);
	}
	return el;
}

JSFX_FloatDiv("divBottomRight", -200, -100).flt();

</script>

	<!-- Slider -->
	<div id="Small-Slider">
		
		<div id="Small-Slider-Content">
		
		<h1>Celebrating 13 years ... </h1>
		<div class="typeface-js" style="font-family: Dakota">Unlimited Web Hosting. Whatever your web hosting needs, we have a hosting plan for you!<!--Three sections, Seven packages to choose from. Whatever your need, we have it sorted!#--></div>
		
		<!-- Links -->
		<ul>
			<li class="Slider-List"><a href="../semi-dedicated/index.html" title="Business	hosting" class="Slider-Links">Semi-Dedicated</a> </li>
			<li class="Slider-List"><a href="../reseller-hosting/index.html" title="Reseller hosting" class="Slider-Links">Reseller Hosting</a>	</li>
           <li class="Slider-List"><a href="../services/addons.php.html" title="Hosting Addons" class="Slider-Links">Addons</a>	 </li>
			<li class="Slider-List"><a href="cpdemo.php.html" title="cpanel demo" class="Slider-Links">Control Panel </a></li>
		</ul>		
		</div>
		
	</div>	
	<div class="bred-crumb">
	<ul>
	<li style="color:#000000;">You are here &nbsp;  &raquo;&raquo;</li>
	<li><a href="http://newsite.jaguarpc.com">Home</a></li>
	<li><a href="http://newsite.jaguarpc.com/web-hosting/">Web Hosting</a></li>
	<li><a href="http://newsite.jaguarpc.com/web-hosting/compare.php" class="active">Compare Plans</a></li>
	</ul>
	</div>
	<!-- Definition of Web Hosting -->
	<div id="Definition">
		
		<img src="../images/boxes/big-box.png" alt="Web Hosting" class="Float-Left" />
		<p>
			<span style="color:#333333;">cPanel Web Hosting</span> - All hosting plans come 
			bundled with one click installs on all the lastest software you need such as social networking apps, 
			ffmpeg, Xcart, blogs, forums, Xoops, Coppermine, WordPress, phpBB, Joomla, Mambo, Drupal, Ruby on Rails, perl/cgi scripts, Python, PHP4 and PHP5 and more!
			<!--<span style="color:#333333;">Definition: Web Hosting</span> - Providing space on Internet servers for the storage of World Wide 
			Web sites which can be accessed by others through the network. This service is usually offered by ISPs or web hosting specialists.#-->
		</p>
		
	</div>	
	
	<!-- Content -->
	
	<div id="Subpage-Wrapper">
		
		<!-- Content Box -->
		<div id="Left-Content">
        <div class="Accordion-Header" style="width: 690px;">Hosting Package Comparison</div>
				<div class="Accordion-Default">
                <table class="Plan-Comparison t-embed">
                    
                    <tr>
                        <td class="Table-Header"></td>
                        <td class="Table-Header Centre"><p style="color: #822525;">Web Hosting</p></td>
                        <td class="Table-Header Centre"><p style="color: #822525;">Semi-Dedicated</p></td>		
                        <td class="Table-Header Centre"><p style="color: #822525;">Reseller Hosting</p></td>
                    </tr>			
                    
                    <tr>
                        <td class="Table-Cell-One Right"><p>Disk Space</p></td>
                        <td class="Table-Cell-One Centre"><p class="Bold Huge">Endless<sup>GB</sup></p></td>
                        <td class="Table-Cell-One Centre"><p class="Bold Huge">Endless<sup>GB</sup></p></td>					
                        <td class="Table-Cell-One Centre"><p class="Bold Huge">50<sup>GB</sup></p></td>
                    </tr>
    
                    <tr>
                        <td class="Table-Cell-Two Right"><p>Bandwidth / Transfer</p></td>
                        <td class="Table-Cell-Two Centre"><p class="Bold">Unlimited</p></td>
                        <td class="Table-Cell-Two Centre"><p class="Bold">Unlimited</p></td>					
                        <td class="Table-Cell-Two Centre"><p class="Bold">500GB </p></td>
                    </tr>
					
                    <tr>
                        <td class="Table-Cell-One Right"><p>Hosted Domains</p></td>
                        <td class="Table-Cell-One Centre"><p class="Bold">Unlimited</p></td>
                        <td class="Table-Cell-One Centre"><p class="Bold">Unlimited</p></td>					
                        <td class="Table-Cell-One Centre"><p class="Bold">Unlimited</p></td>					
                    </tr>	
					
                    <tr>
                        <td class="Table-Cell-Two Right"><p>Server Ram,Cpu,I/O</p></td>
                        <td class="Table-Cell-Two Centre"><p class="Bold">1x</p></td>
                        <td class="Table-Cell-Two Centre"><p class="Bold">6x</p></td>					
                        <td class="Table-Cell-Two Centre"><p class="Bold">2x</p></td>					
                    </tr>
                    
                    <tr>
                        <td class="Table-Cell-Two Right"><p>MySQL, FTP, Email</p></td>
                        <td class="Table-Cell-Two Centre"><p class="Bold">Unlimited</p></td>
                        <td class="Table-Cell-Two Centre"><p class="Bold">Unlimited</p></td>				
                        <td class="Table-Cell-Two Centre"><p class="Bold">Unlimited</p></td>
                    </tr>					
                    
                    <tr>
                        <td class="Table-Cell-One Right"><p>Free SSL</p></td>
                        <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
                        <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>					
                        <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
                    </tr>
					
                    <tr>
                        <td class="Table-Cell-One Right"><p>Free SiteBuilder</p></td>
                        <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
                        <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>					
                        <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
                    </tr>
					
                    <tr>
                        <td class="Table-Cell-Two Right"><p>cPanel 11 Pro</p></td>
                        <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
                        <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>					
                        <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
                    </tr>				
                    
                    <tr>
                        <td class="Table-Cell-One Right"><p>Web Host Manager</p></td>
                        <td class="Table-Cell-One Centre"><img src="../images/icons/cross.png" alt="No" /></td>
                        <td class="Table-Cell-One Centre"><img src="../images/icons/cross.png" alt="No" /></td>					
                        <td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
                    </tr>
					
                    <tr>
                      <td class="Table-Cell-Two Right"><p>Plan Cost From</p></td>
                      <td class="Table-Cell-Two Centre">
                      <p class="Price-Shared">
                      <a href="#" title=" 01 month:  $7.95 , 12 month:  $6.95, 24 month:  $5.95, 36 month:  $4.95" class="ToolTip">$4.95</a></p>
                      <p class="pm">Per Month</p>
                      </td>
                      <td class="Table-Cell-Two Centre">
                      <p class="Price-Shared"><a href="#" title=" 01 month:  $19.95 " class="ToolTip">$19.95</a></p>
                      <p class="pm">Per Month</p>
                      </td>
                      <td class="Table-Cell-Two Centre">
                      <p class="Price-Shared"><a href="#" title=" 01 month:  $19.95 " class="ToolTip">$19.95</a></p>
                      <p class="pm">Per Month</p>
                      </td>
                      <!--<td class="Table-Cell-Two Centre"><p class="Price-Shared">$17.97</p>
                      <p class="pm">Per Month</p>
                      </td>#-->
                  </tr>
                    <tr>
                      <td class="Table-Cell-One Right"></td>
                      <td align="center" valign="middle"><a href="https://secure.jaguarpc.com/checkout/html/?type=shared"><img src="../images/order.png" alt="Order Now" class="order" border="0" /></a></td>
                      <td align="center" valign="middle"><a href="https://secure.jaguarpc.com/checkout/html/?type=semi-dedicated"><img src="../images/order.png" alt="Order Now" class="order" border="0" /></a></td>
                      <td align="center" valign="middle"><a href="https://secure.jaguarpc.com/checkout/html/?type=reseller_bulk"><img src="../images/order.png" alt="Order Now" class="order" border="0" /></a> </td>
                  </tr>
                    
                    <tr>
                    
                        <td colspan="5"><br /></td>
                    
                    </tr>
                    
                </table>
</div>		
<div class="One-Header Accordion-Header" style="width: 690px;">Webmaster Tools</div>
<div class="One-Content Accordion-Content">
           <table class="Plan-Comparison t-embed">
				
                <tr>
                   <td class="Table-Header"></td>
                   <td class="Table-Header Centre"><p style="color: #822525;">Web Hosting</p></td>
                   <td class="Table-Header Centre"><p style="color: #822525;">Semi-Dedicated</p></td>		
                   <td class="Table-Header Centre"><p style="color: #822525;">Reseller Hosting</p></td>
                </tr>			
				
				<tr>			
					<td class="Table-Cell-One Right"><p>Daily Downloadable Backups</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				</tr>

				<tr>
					<td class="Table-Cell-Two Right"><p>URL Redirection Capability</p></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>					
				</tr>						
				
				<tr>	
					<td class="Table-Cell-One Right"><p>24/7 FTP Access </p><p>With Session control</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>		
				</tr>

				<tr>
				  <td class="Table-Cell-Two Right"><p>MS FrontPage Extensions</p></td>
				  <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
			    </tr>
                
				<tr>
				  <td class="Table-Cell-One Right"><p>Web-Based File Manager</p></td>
				  <td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
		     </tr>
                  
				<tr>
				  <td class="Table-Cell-Two Right"><p>Cron Jobs</p></td>
				  <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
			    </tr>
                
				<tr>
				  <td class="Table-Cell-One Right"><p>Password Protect Directories</p></td>
				  <td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
			    </tr>
                
				<tr>
				  <td class="Table-Cell-Two Right"><p>Custom Error Pages</p></td>
				  <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
		     </tr>
                  
				<tr>
				  <td class="Table-Cell-One Right"><p>Free DNS Management </p><p>(MX records, Cname, etc)</p></td>
				  <td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
			    </tr>
                
				<tr>
				  <td class="Table-Cell-Two Right"><p>Free Perl Module Installations</p></td>
				  <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
			    </tr>
                  
				<tr>
				  <td class="Table-Cell-One Right"><p>Custom MIME Types</p></td>
				  <td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  <td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
			    </tr>
                  
				<tr>
					<td class="Table-Cell-Two Right"><p>Full Private CGI-Bin Access</p></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				</tr>
                
				<tr>
				  <td class="Table-Cell-One Right"></td>
				  <td class="Table-Cell-One Centre"><img src="../images/order.png" alt="Order Now" /></td>
				  <td class="Table-Cell-One Centre"><img src="../images/order.png" alt="Order Now" /></td>
				  <td class="Table-Cell-One Centre"><img src="../images/order.png" alt="Order Now" /></td>
			    </tr>
                
                <tr><td colspan="4"><br /></td></tr>
				
	    </table>
</div>	

<div class="Two-Header Accordion-Header" style="width: 690px;">Email Management</div>
<div class="Two-Content Accordion-Content">
<table class="Plan-Comparison t-embed">
				
                <tr>
                   <td class="Table-Header"></td>
                   <td class="Table-Header Centre"><p style="color: #822525;">Web Hosting</p></td>
                   <td class="Table-Header Centre"><p style="color: #822525;">Semi-Dedicated</p></td>		
                   <td class="Table-Header Centre"><p style="color: #822525;">Reseller Hosting</p></td>
                </tr>			
				
				<tr>
					<td class="Table-Cell-One Right"><p>Spam Filtering</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				</tr>

				<tr>	
					<td class="Table-Cell-Two Right"><p>Multiple types </p><p>(POP3, IMAP, SMTP)</p></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>		
				</tr>						
				
				<tr>	
					<td class="Table-Cell-One Right"><p>Unlimited Email Aliases/Forwarding</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>				
				</tr>

				<tr>
					<td class="Table-Cell-Two Right"><p>Unlimited Email Autoresponders</p></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				</tr>
                  
                  <tr>	
					<td class="Table-Cell-One Right"><p>Unlimited Mailing Lists</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>			
				  </tr>

				<tr>
					<td class="Table-Cell-Two Right"><p>Web-Based Email Access</p></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>	
				</tr>
                
				<tr>
				  <td class="Table-Cell-One Right">&nbsp;</td>
				  <td class="Table-Cell-One Centre"><img src="../images/order.png" alt="Order Now" /></td>
				  <td class="Table-Cell-One Centre"><img src="../images/order.png" alt="Order Now" /></td>
				  <td class="Table-Cell-One Centre"><img src="../images/order.png" alt="Order Now" /></td>
			    </tr>
                
				<tr><td colspan="4"><br /></td></tr>
                
	  </table>
</div>	

<div class="Three-Header Accordion-Header" style="width: 690px;">Database Management</div>
<div class="Three-Content Accordion-Content">
		<table class="Plan-Comparison t-embed">
				
                <tr>
                   <td class="Table-Header"></td>
                   <td class="Table-Header Centre"><p style="color: #822525;">Web Hosting</p></td>
                   <td class="Table-Header Centre"><p style="color: #822525;">Semi-Dedicated</p></td>		
                   <td class="Table-Header Centre"><p style="color: #822525;">Reseller Hosting</p></td>
                </tr>			
				
				<tr>
					<td class="Table-Cell-One Right"><p>MySQL Databases</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				</tr>

				<tr>
                	<td class="Table-Cell-Two Right"><p>Multiple users per DB</p></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				</tr>						
				
				<tr>
					<td class="Table-Cell-One Right"><p>Control DB Permissions</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				</tr>

				<tr>
					<td class="Table-Cell-Two Right"><p>PHPMyAdmin</p></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>		
				</tr>
                  
                <tr>
					<td class="Table-Cell-One Right"><p>Database backups</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				</tr>

				<tr>
                	<td class="Table-Cell-Two Right"></td>
					<td class="Table-Cell-Two Centre"><img src="../images/order.png" alt="Order Now" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/order.png" alt="Order Now" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/order.png" alt="Order Now" /></td>
				</tr>
                
                <tr><td colspan="4"><br /></td></tr>
				
  		</table>
</div>	

<div class="Four-Header Accordion-Header" style="width: 690px;">Web Stats</div>
<div class="Four-Content Accordion-Content">
		<table class="Plan-Comparison t-embed">
				
                <tr>
                   <td class="Table-Header"></td>
                   <td class="Table-Header Centre"><p style="color: #822525;">Web Hosting</p></td>
                   <td class="Table-Header Centre"><p style="color: #822525;">Semi-Dedicated</p></td>		
                   <td class="Table-Header Centre"><p style="color: #822525;">Reseller Hosting</p></td>
                </tr>			
				
				<tr>
				    <td class="Table-Cell-One Right"><p> Raw Server Logs</p><p>(Access, Error, Referral, Raw)</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>	
				</tr>

				<tr>
					<td class="Table-Cell-Two Right"><p>Webalizer, Analog, &amp; Awstats</p></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>		
		  </tr>						
				
				<tr>
					<td class="Table-Cell-One Right"><p>FTP &amp; Email Statistics</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>	
				</tr>

				<tr>
                	<td class="Table-Cell-Two Right"><p>Bandwidth Report</p></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
		  </tr>
                  
                 <tr>
					<td class="Table-Cell-One Right"><p>R1Soft continous data backups</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>	
				 </tr>

				<tr>
					<td class="Table-Cell-Two Right"></td>
					<td class="Table-Cell-Two Centre"><img src="../images/order.png" alt="Order Now" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/order.png" alt="Order Now" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/order.png" alt="Order Now" /></td>
				</tr>
				
                <tr><td colspan="4"><br /></td></tr>
                
	   </table>
</div>	

<div class="Five-Header Accordion-Header" style="width: 690px;">Developer Tools</div>
<div class="Five-Content Accordion-Content">
<table class="Plan-Comparison t-embed">
				
                <tr>
                   <td class="Table-Header"></td>
                   <td class="Table-Header Centre"><p style="color: #822525;">Web Hosting</p></td>
                   <td class="Table-Header Centre"><p style="color: #822525;">Semi-Dedicated</p></td>		
                   <td class="Table-Header Centre"><p style="color: #822525;">Reseller Hosting</p></td>
                </tr>			
				
				<tr>
					<td class="Table-Cell-One Right"><p>Multiple Shopping Carts</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				</tr>

				<tr>
                	<td class="Table-Cell-Two Right"><p>FREE Website Design</p><p>(Template Express)</p></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				</tr>						
				
				<tr>
					<td class="Table-Cell-One Right"><p>Secure Shell (SSH)</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>	
				</tr>

				<tr>
					<td class="Table-Cell-Two Right"><p>Editors: emacs, pico, vi</p></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>	
				</tr>
                  
                  <tr>
					<td class="Table-Cell-One Right"><p>Free Project Management software</p></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
					<td class="Table-Cell-One Centre"><img src="../images/icons/tick.png" alt="Yes" /></td>
				  </tr>

				<tr>
					<td class="Table-Cell-Two Right"></td>
					<td class="Table-Cell-Two Centre"><img src="../images/order.png" alt="Order Now" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/order.png" alt="Order Now" /></td>
					<td class="Table-Cell-Two Centre"><img src="../images/order.png" alt="Order Now" /></td>
				</tr>	
				
                <tr><td colspan="4"><br /></td></tr>
                
      </table>
</div>		

			<p class="Content-Header"> <span style="color: #862829;">Web</span> Hosting:</p>
                
                <p class="Content-Paragraph">
                    Once you have picked a domain name for your website, you need a fast, secure, dependable hosting server. <br />
                  Our hosting solution provides a reliable, ultra fast, and redundant internet connection to serve your websites pages 24/7/365. Our highly trained and 
				  knowledgeable team takes state of the art web hosting servers, configures all the latest software, and then secures 
				  the web hosting server and your space. Every web hosting server is fully managed and backed up. We continuously monitor, 
				  maintain, and upgrade the servers, network, software, and hardware to make sure your site is delivered fast each and every second of everyday. 
				  </p>
                
                <p class="Content-Header"><span style="color: #862829;">Reseller</span> Hosting: </p>
                
                <p class="Content-Paragraph">Unlimited Reseller Hosting by JaguarPC is an affordable reseller hosting plan to host as many websites as you want. 
				Unlimited Reseller hosting provides you with the ability to sell unlimited cpanel hosting accounts to as many customers from one main reseller hosting account. 
				Our reseller hosting is brandable, anonymous, and comes pre-loaded with lots of extras. Each reseller and their own clients have access to hosting extras such as
				RVsitebuilder, RVskin, Fantastico, Softaculous, free ssl, google and yahoo adverstising credits, seo tools, client billing and support software, and much more.  All resellers get access to our tips and guides on how to be effective and successful reseller in the hosting business. </p>
                
              <p class="Content-Header">  <span style="color: #862829;">Semi-Dedicated</span> Hosting:</p>
			  
              <p class="Content-Paragraph">
                JaguarPC invented the term "semi-dedicated" many years ago to describe a revolutionary platform which others have since tried to copy. 
				Using our exclusive semi-dedicated hosting package we have combined the fully managed and simple 
                to use shared environment with significant resource increases over typical shared service. Our semi-dedicated servers provide you power of a dedicated server 
				at a fraction of the cost and without having to manage a server, maintain security, or any other hassle that comes with dedicated and private servers. 
				Our semi-dedicated platforms have far less users than a standard shared web server and have a failover ability to provide 100% uptime even during a hardware failure. 
				That translates to at least 6x more resources for your website and 100% uptime!  </p>
 
 </div>
		
		<!-- Right Bar -->
		<div id="Right-Bar">
			
			<!-- cPanel -->
			<div class="shadow-box">
      <div class="shd-curv1"><span class="Bold">cPanel Control Panel:</span></div>
      <div class="shd-mid">
    <img src="../images/icons/cpanel.png" alt="cPanel Hosting" class="Float-Left Icon-Margins" />
      
      <p> We run cPanel on our web hosting servers because in our opinion it is one of the best and most simple to use control panels on the market!</p>
      </div>
      <div class="shd-curv"><img src="../images/shadow-btm.gif" alt="" width="268" height="6" /></div>
    </div>
			
			<div class="Clear-Both"></div>
			
			<!-- php -->
			<div class="shadow-box">
      <div class="shd-curv1"><span class="Bold">PHP 4 &amp; 5 Side by Side:</span></div>
      <div class="shd-mid">
    <img src="../images/icons/php.png" alt="php Hosting" class="Float-Left Icon-Margins" />
     
      <p> Yup thats right! With our PHP Hosting you can run both native PHP4 &amp; PHP5 applications on the same account. </p>
      </div>
      <div class="shd-curv"><img src="../images/shadow-btm.gif" alt="" width="268" height="6" /></div>
    </div>
					
			<div class="Clear-Both"></div>
					
			<!-- Ruby on Rails -->
			<div class="shadow-box">
      <div class="shd-curv1"><span class="Bold">Ruby on Rails Ready:</span></div>
      <div class="shd-mid">
    <img src="../images/icons/rails.png" alt="Ruby on Rails hosting" class="Float-Left Icon-Margins" />
     
      <p> Our servers come pre-installed with Ruby On Rails and you can setup an ROR enviroment via the control panel. This is RoR hosting!</p>
      </div>
      <div class="shd-curv"><img src="../images/shadow-btm.gif" alt="" width="268" height="6" /></div>
    </div>
			
			<div class="Clear-Both"></div>

			<!-- XCART Ready -->
			<div class="shadow-box">
      <div class="shd-curv1"><span class="Bold">XCART Enabled Hosting:</span></div>
      <div class="shd-mid">
   <img src="../images/icons/xcart.png" alt="XCART Ready Hosting" class="Float-Left Icon-Margins" />
     
      <p> Our servers are fully equipped to run XCART and other shopping cart software out-of-the-box.</p>
      </div>
      <div class="shd-curv"><img src="../images/shadow-btm.gif" alt="" width="268" height="6" /></div>
    </div>
	
	<div class="shadow-box">
      <div class="shd-curv1"><span class="Bold">ClientExec Client Software:</span></div>
      <div class="shd-mid">
  
				<img src="../images/icons/ce-small.png" alt="clientexec Hosting" class="Float-Left Icon-Margins" />
				
				<p>
					Through our partnership with ClientExec you get instant access to manage your clients billing, support, and account activation just like us!</p>
      </div>
      <div class="shd-curv"><img src="../images/shadow-btm.gif" alt="" width="268" height="6" /></div>
    </div>
	
	<div class="shadow-box">
      <div class="shd-curv1"><span class="Bold">Fantastico Hosting:</span></div>
      <div class="shd-mid">
  
				<img src="../images/icons/fantastico.png" alt="cPanel 11 Hosting" class="Float-Left Icon-Margins" />
				
				<p>
					Every hosting server is pre-bundled with fantastico providing you and your clients with instant install and access to hundreds of free scripts and applications. </p>
      </div>
      <div class="shd-curv"><img src="../images/shadow-btm.gif" alt="" width="268" height="6" /></div>
    </div>
			
			<div class="Clear-Both"></div>

			<!-- clientexec -->
			<div class="Clear-Both"></div>

			<!-- fantastico -->
			<div class="Clear-Both"></div>
			
				<!-- Begin Right List -->
				
		 <div class="rgt-box01">
      <div class="shd-curv1">Other Areas.</div>
      <div class="shd-mid">
        <p class="Right-List"><img src="../images/icons/hosting.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="http://newsite.jaguarpc.com/services/">What is webhosting?</a></p>
        
        <p class="Right-List"><img src="../images/icons/quick_restart.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="http://newsite.jaguarpc.com/support/quickstart.php">QuickStart Guide</a></p>
        
        <p class="Right-List"><img src="../images/icons/reward.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="http://newsite.jaguarpc.com/services/rewards.php">Web Hosting Rewards</a></p>
        <p class="Right-List"><img src="../images/icons/Refresh.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="http://newsite.jaguarpc.com/affiliates/">Hosting Affiliates</a></p>
        <p class="Right-List"><img src="../images/icons/MS_8.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="http://newsite.jaguarpc.com/services/domains.php">Domain Registration</a></p>
        <p class="Right-List"><img src="../images/icons/account.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="http://newsite.jaguarpc.com/services/merchant.php">Merchant Accounts</a></p>
        <p class="Right-List"> <img src="../images/icons/testimo.png" alt="" width="24" height="24" class="Float-Left Icon-Margins" /><a href="http://newsite.jaguarpc.com/about/testimony.php">Testimonials</a></p>
        
      </div><div class="shd-curv"><img src="../images/shadow-btm.gif" alt="" width="268" height="6" /></div>
      
    </div><div class="testi"><div id="slider1" class="sliderwrapper">
      <div class="contentdiv"> <a href="http://newsite.jaguarpc.com/about/testimony.php"><strong>Bart - Luchtzak.be:</strong><br /><br />
        I am a proud Jaguarpc-member for almost 2 years now, I first choose the Gigadeal (now called the GigaDeal X5). After a few months the popularity of my website increased and I decided to change to the semi-dedicated plan, note that the tech support of Jaguarpc helped me from A to Z with the server-move as I am a total zero in Linux.</a> </div>
	  <div class="contentdiv"><a href="http://newsite.jaguarpc.com/about/testimony.php"><strong>John Miner -  </strong><br /><br />I have dealt with a number of hosting companies over the years but never have I experienced the high level of service I have found with Jaguarpc. Their level of customer service is exceptional, nothing seems to be too much trouble. They are the only hosting company I have dealt with that has been completely trouble and hassle free.</a>  </div>
	  <div class="contentdiv"><a href="http://newsite.jaguarpc.com/about/testimony.php"> <strong>Wildo:</strong> <br /><br />I have been with a few different hosting companies. Once I found jag (almost 2 years ago now) I have never seen a reason to move. Support is great, and they are constantly offering new services and packages to keep at the top of the market. Great job guys, keep it up! </a> </div>
	  <div id="paginate-slider1" class="pagination"></div>
    </div></div>
	
	
	<script type="text/javascript">

featuredcontentslider.init({
	id: "slider1",  //id of main slider DIV
	contentsource: ["inline", ""],  //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
	toc: "#increment",  ../http/valid values/MS_1188.html "#increment", "markup", ["label1", "label2", etc]
	nextprev: ["", ""],  //labels for "prev" and "next" links. Set to "" to hide.
	revealtype: "mouseover", ../http/behavior of pagination links to reveal the slides/MS_1189.html "click" or "mouseover"
	enablefade: [true, 0.1],  //[true/false, fadedegree]
	autorotate: [true, 5000],  //[true/false, pausetime]
	onChange: function(previndex, curindex){  //event handler fired whenever script changes slide
		//previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
		//curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
	}
})

</script>
							
		</div>
		<!-- /Right Bar -->
		
		<div class="Clear-Both"></div>	
		
	</div>
	<!-- /Content -->

<!-- Begin Footer -->

<div id="Footer">
  <div class="Top-Awards">
    <div class="Logo-Types">
      <!-- Icons ->
      Left -->
      <div style="float:left; width:500px;"> <br />
<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Security Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/pci/mini/MS_1190.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Trust Guard Certified" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/certified/mini/MS_1191.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Privacy Verified Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/privacy/mini/MS_1192.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Business Verified Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/business/mini/MS_1193.html" /></a>

	<!--<a href="#"><img src="http://www.jaguarpc.com/images/footer/truste.gif" alt="" width="108" height="33" border="0" /></a>#-->
	
	</div>
      <!-- <a target='_blank'  rel="nofollow" href='http://www.bbbonline.org/cks.asp?id=1081022121914'><img src="images/footer/bbb.jpg" class="Float-Left Award-Spacing" alt="" title='Click to verify BBB accreditation and to see a BBB report.' /></a> #-->
      <!-- Icons ->
      Right -->
      <div style="float:right; width:280px; height:auto;">
        <div style="font-family:Arial, Helvetica, sans-serif ; font-size:16px; font-weight:bold; float:left; padding-right:10px; color:#605f5f; padding-top:17px;">Get Social:</div>
		<div style="float:left;"> 
		<a href="http://forums.jaguarpc.com"><img src="../images/footer/vbulletin-icon.png" alt="Community Forum" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://blog.jaguarpc.com/"><img src="../images/footer/blg-icon.gif" alt="JaguarPC Blog" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://twitter.com/"><img src="../images/footer/twitter-icon.png" alt="JaguarPC twitter" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://www.facebook.com/jaguarpc"><img src="../images/footer/facebook-icon.gif" alt="JaguarPC facebook" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
          <!--<img src="/images/footer/del.png" alt="delicious" width="33" height="35" class="Float-Right Award-Spacing" />#-->
        </div>
      </div>
      
    </div>
  </div>
  <div class="Clear-Both"></div>
  <!-- Footer ->
  Content -->
  <div id="Footer-Content">
    <!-- Footer ->
    Content -> Block 1 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="index.html" title="Hosting Services" class="Footer-Link">Web Hosting</a></li>
        <li class="Unbulleted-List"><a href="../reseller-hosting/index.html" title="cpanel Reseller Hosting" class="Footer-Link">Reseller Hosting</a></li>
        <li class="Unbulleted-List"><a href="../dedicated-server-hosting/index.html" title="Dedicated Servers" class="Footer-Link">Dedicated Servers</a></li>
        <li class="Unbulleted-List"><a href="../vps-hosting/linux-vps.php.html" title="Linux vps Hosting" class="Footer-Link">Linux VPS Hosting</a></li>
        <li class="Unbulleted-List"><a href="../vps-hosting/index.html" title="vps Hosting" class="Footer-Link">VPS Hosting</a></li>
      </ul>
    </div>
    <!-- Footer ->
    Content -> Separator -->
    <div class="Footer-Separator"> &nbsp; </div>
    <!-- Footer ->
    Content -> Block 2 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../articles.php.html" title="Specialty Hosting" class="Footer-Link">Hosting Specialties</a></li>
        <li class="Unbulleted-List"><a href="../affiliates/index.html" title="Hosting Affiliate program" class="Footer-Link">Affiliate Program</a></li>
        <li class="Unbulleted-List"><a href="../about/index.html" title="The Company" class="Footer-Link">About Our Company</a></li>
        <li class="Unbulleted-List"><a href="../about/team.php.html" title="About Hosting" class="Footer-Link">Talented Hosting Team</a></li>
        <li class="Unbulleted-List"><a href="../about/network.php.html" title="Datacenter and Network" class="Footer-Link">Datacenter &amp; Network</a></li>
      </ul>
    </div>
    <!-- Footer ->
    Content -> Separator -->
    <div class="Footer-Separator"> &nbsp; </div>
    <!-- Footer ->
    Content -> Block 3 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../services/index.html" title="Hosting Services" class="Footer-Link">Hosting Services</a></li>
        <li class="Unbulleted-List"><a href="http://blog.jaguarpc.com/" title="Web Hosting Blog" class="Footer-Link">Hosting Blog</a></li>
        <li class="Unbulleted-List"><a href="http://forums.jaguarpc.com" title="Hosting community" class="Footer-Link">WebHost Community</a></li>
        <li class="Unbulleted-List"><a href="../about/policy-tos.php.html" title="TOS" class="Footer-Link">Terms Of Service</a></li>
        <li class="Unbulleted-List"><a href="../sitemap.php.html" title="Hosting Sitemap" class="Footer-Link">Sitemap</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="Copyright">
  <p class="Paragraph-Padding" align="center">Copyright &copy; 2012 JaguarPC.com</p>
</div>
<!-- /Footer -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2067038-1']);
  _gaq.push(['_setDomainName', 'jaguarpc.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https/MS_1196.html' : 'http/MS_1197.html') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type='text/javascript'>
document.write(unescape("%3Cscript%20src='"+
 (document.location.protocol=='https:'?
  'https://clicktale.pantherssl.com/':
  'http://s.clicktale.net/')+
 "WRc5.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var ClickTaleSSL=1;
if(typeof ClickTale=='function') ClickTale(1272,1,"www08");
</script>
<!-- ClickTale end of Bottom part -->

<script type="text/javascript">
adroll_adv_id = "OT62MHCQUFDXPKN5TXCDPV";
adroll_pix_id = "LQHM2CORIBD3JEQS4MRVCL";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "../https/MS_1194.html" : "../http/MS_1195.html");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "../j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>

	
</body>
<!-- /Body -->

</html>
<!-- /JaguarPC -->
