<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- Begin JaguarPC -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- Begin Header -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Managed VPS Hosting | Best VPS Hosting | VPS Web Hosting | VPS Host - JaguarPC</title>
<meta name= "Description" content="Get the most powerful VPS web hosting services for Windows and Linux
platforms. Now available from just $ 29 a month with: Isolated Environments and Zero Overselling Policy with
Enterprise Backups and Migration Assistance. #@">
<meta name= "keywords" content= "managed vps hosting, vps hosting, best vps hosting, vps web hosting, vps host, affordable vps hosting, vps hosting plans, vps hosting provider" />

		
<!-- Stylesheets -->
<link type="text/css" rel="stylesheet" href="../cssfiles/main.css" media="screen" />
<link type="text/css" rel="stylesheet" href="../cssfiles/new-home.css" media="screen" />

<script src="../js/contentslider.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="../cssfiles/jquery.fancybox.css" media="screen" />

<script type="text/javascript">
$(document).ready(function() {
	// 
Trigger 1.
	$('div.One-Header') .click ( function ( ) {				   
		$('div.One-Content') .toggle();									   										   
	});
	// -> Trigger 2.
	$('div.Two-Header') .click ( function ( ) {									   
		$('div.Two-Content') .toggle();									   									   
	});
	// -> Trigger 3.
	$('div.Three-Header') .click ( function ( ) {						 										   
		$('div.Three-Content') .toggle();									   							   
	});
	// -> Trigger 4.
	$('div.Four-Header') .click ( function ( ) {						 										   
		$('div.Four-Content') .toggle();									   							   
	});
	// -> Trigger 5.
	$('div.Five-Header') .click ( function ( ) {						 										   
		$('div.Five-Content') .toggle();									   							   
	});

	// -> Hide the divs on page load.
	$("div.Accordion-Content").hide();
 
});
</script>
<!-- Javascripts -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<script type="text/javascript" src="../jsfiles/typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/dakota_regular.typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/easing.js"></script>
		<script type="text/javascript" src="../jsfiles/jquery.flow.1.2.min.js"></script>
		<script type="text/javascript" src="../jsfiles/fancybox.js"></script>
		<script type="text/javascript" src="../jsfiles/tooltips.js"></script>
		<script type="text/javascript" src="../jsfiles/ready.js"></script>
        	<script type="text/javascript">
$(document).ready(function() {
	// ->
Trigger 1.
	$('div.One-Header') .click ( function ( ) {				   
		$('div.One-Content') .toggle();									   										   
	});
	// -> Trigger 2.
	$('div.Two-Header') .click ( function ( ) {									   
		$('div.Two-Content') .toggle();									   									   
	});
	// -> Trigger 3.
	$('div.Three-Header') .click ( function ( ) {						 										   
		$('div.Three-Content') .toggle();									   							   
	});
	// -> Trigger 4.
	$('div.Four-Header') .click ( function ( ) {						 										   
		$('div.Four-Content') .toggle();									   							   
	});
	// -> Trigger 5.
	$('div.Five-Header') .click ( function ( ) {						 										   
		$('div.Five-Content') .toggle();									   							   
	});

	// -> Hide the divs on page load.
	$("div.Accordion-Content").hide();
 
});
</script>

<script type="text/javascript" src="../scripts/prototype.lite.js"></script>
<script type="text/javascript" src="../scripts/moo.fx.js"></script>
<script type="text/javascript" src="../scripts/moo.fx.pack.js"></script>
<script type="text/javascript" src="../jsfiles/typeface.js"></script>
<script type="text/javascript" src="../jsfiles/dakota_regular.typeface.js"></script>
<script type="text/javascript" src="../jsfiles/fancybox.js"></script>

<link rel="stylesheet" type="text/css" href="../css/jqueryslidemenu.css" />
	
<!--<script src="template/jaguarpc/js/nav-toggle.js"></script>-->
	
<script src="../jsfiles/contentslider.js" type="text/javascript"></script>
	
<script type="text/javascript">

function init(){
		
		var stretchers = document.getElementsByClassName('stretcher'); //div that stretches
		var toggles = document.getElementsByClassName('tab'); //h3s where I click on

		//accordion effect
		var myAccordion = new fx.Accordion(
			toggles, stretchers, {opacity: true, height: true, duration: 400}
		);

		//hash functions
		var found = false;
		toggles.each(function(h3, i){
			var div = Element.find(h3, 'nextSibling'); //element.find is located in prototype.lite
			if (window.location.href.indexOf(h3.title) > 0) {
				myAccordion.showThisHideOpen(div);
				found = true;
			}
		});
		if (!found) myAccordion.showThisHideOpen(stretchers[0]);
	}

</script>

<!-- /Header -->

		<!-- Javascripts -->
		<script src="../jsfiles/contentslider.js" type="text/javascript"></script>
		
		<!-- Java Scripts -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	
		<script type="text/javascript" src="../jsfiles/typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/dakota_regular.typeface.js"></script>
		<script type="text/javascript" src="../jsfiles/easing.js"></script>
		<script type="text/javascript" src="../jsfiles/jquery.flow.1.2.min.js"></script>
		<script type="text/javascript" src="../jsfiles/fancybox.js"></script>
		<script type="text/javascript" src="../jsfiles/tooltips.js"></script>
		<script type="text/javascript" src="../jsfiles/ready.js"></script>
		
		<script type="text/javascript" src="../scripts/prototype.lite.js"></script>
		<script type="text/javascript" src="../scripts/moo.fx.js"></script>
		<script type="text/javascript" src="../scripts/moo.fx.pack.js"></script>

		<script type="text/javascript">
		
		function init(){
		
		var stretchers = document.getElementsByClassName('stretcher'); //div that stretches
		var toggles = document.getElementsByClassName('tab'); //h3s where I click on

		//accordion effect
		var myAccordion = new fx.Accordion(
			toggles, stretchers, {opacity: true, height: true, duration: 400}
		);

		//hash functions
		var found = false;
		toggles.each(function(h3, i){
			var div = Element.find(h3, 'nextSibling'); //element.find is located in prototype.lite
			if (window.location.href.indexOf(h3.title) > 0) {
				myAccordion.showThisHideOpen(div);
				found = true;
			}
		});
		if (!found) myAccordion.showThisHideOpen(stretchers[0]);
		}
		</script>

<!--Sprinkle tab -->
<script type="text/javascript" src="../js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script type="text/javascript" src="../js/sprinkle.js"></script>
<!--Sprinkle tab -->

	<script type="text/javascript">
        $(function() {
    
            $("#example-one").organicTabs();
            
            $("#example-two").organicTabs({
                "speed": 200
            });
    
        });
    </script>
		<script type="text/javascript">
	
	var j = jQuery.noConflict();
		j(function(){
			j('#slides_three').slides({
				generateNextPrev: true,
				play: 6500,
				autoHeight: true,
				generatePagination: false,
				randomize: true,
				
			});
			
			/*
				You could also combin them all
				But you can't customize each this way
				
				$('#slides,#slides_two,#slides_three').slides({
					preload: true,
					generateNextPrev: true
				});
			*/

			/*	
				Or use a class for all three
				If all three had class="slides"
				Same here can't customize each this way
				
				$('.slides').slides({
					preload: true,
					generateNextPrev: true
				});
			*/
		});
	</script>


<style type="text/css" media="screen">

		#slides .slides_container {
			width:233px;
			height:auto;
			display:none;
		}

		#slides .slides_container div {
			width:233px;
			height:auto;
			display:block;
		}
		#slides_two .slides_container {
			width:233px;
			display:none;
		}

		#slides_two .slides_container div {
			width:233px;
			height:auto;
			display:block;
		}
		

		#slides_three .slides_container {
			width:233px; font-family:Georgia, "Times New Roman", Times, serif; font-size:12px; color:#8b8888; 
			display:none;
		}

		
		#slides_three .slides_container div {
			width:233px; line-height:normal;
			height:100px;
			display:block;
		}
		.prev{ width:8px; height:15px; background:url(../images/pre.gif) no-repeat; position:absolute; top:820px; margin-left:200px; font-size:0; font-weight:normal; }
		.next{width:8px; height:15px; position:absolute; top:820px; margin-left:230px; background:url(../images/next.gif) no-repeat; font-size:0; font-weight:normal;}
	
	</style>




</head>
<!-- /Header -->
<!-- Begin Body -->
<body>
<!-- Page Header -->
<!-- Navigation -->
<!-- /Navigation -->
<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>

<!-- Page Header -->
<div id="header-wrap-bkg">
  <div id="header-wrap">
    <!-- Logo -->
    <div id="Left-Tab"> <a href="../index.html"><img src="../images/logo-top.png" alt="Jaguarpc Web Hosting"/></a> </div>
    <!-- Top Icons -->
    <div id="top-tab">
      <ul class="Top-Tabs-List">
        <li> <a href="https://secure.jaguarpc.com/clients/" class="Top-Tabs"> <img src="../images/icons/client-login.png" class="Unbordered Top-Image-Align" alt="Client Login" /> Client Login </a> </li>
        <li> <a href="http://forums.jaguarpc.com/" class="Top-Tabs"> <img src="../images/icons/live-chat.png" class="Unbordered Top-Image-Align" alt="Community Forum" /> Community </a> </li>
        <li> <a href="../contact.php.html" class="Top-Tabs"> <img src="../images/icons/contact-us.png" class="Unbordered Top-Image-Align" alt="Contact JaguarPC" /> Contact Us </a> </li>
        <li> <a href="http://blog.jaguarpc.com/" class="Top-Tabs"> <img src="../images/icons/live-chat.png" class="Unbordered Top-Image-Align" alt="JaguarPC Blog" /> Blog </a> </li>
      </ul>
    </div>
	
    <div id="top-tab02" style="padding-left:25px">
	<script type="text/javascript" src="../https/apis.google.com/js/MS_1187.js"></script>
     <g:plusone count="false"></g:plusone>
    </div>
	
	
    <!-- <div id="top-tab02">
      <ul class="Top-Tabs-List">
       
        <li> <div style="width:52px;overflow:hidden;"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/jaguarpc" send="false" width="90" show_faces="false" font=""></fb:like></div></li>
		
      </ul>
    </div> -->
	
    <div style="font-size:20px; float:right; margin-top:3px; width:460px; color:#808080; font-weight:bold;text-align: right;">
     CALL US: (888) 338-5261<br />
    </div>
  </div>
  <div class="Clear-Both"></div>
</div>
<!-- /Page Header -->
<!-- Navigation -->
<div id="nav">
  <ul>
    <li><a href="../web-hosting/index.html" title="Web Hosting">Web Hosting</a></li>
    <li><a href="index.html" title="VPS Hosting">VPS Hosting</a></li>
    <li><a href="../hybrid-server/index.html" title="Hybrid Server Hosting">Hybrid Servers</a></li>
    <li><a href="../dedicated-server-hosting/index.html" title="Dedicated Server Hosting">Dedicated Servers</a></li>
    <li><a href="../about/whyjag.php.html" title="Web Host">Why Jag</a></li>
    <li><a href="../support/index.html" title="Best Hosting Support">Support</a></li>
  </ul>
</div>
<!-- /Navigation -->
	<div class="Clear-Both"></div>
	<div id="divBottomRight" style="position:absolute">
<!-- Codes by Quackit.com -->
<script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=375,width=508,left=10,top=10,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no,status=yes')
}
</script>

<a href="JavaScript:newPopup('../chatsupport.html');"><img src="../https/secure.jaguarpc.com/images/MS_3.html" alt="" /></a></div>
<script type="text/javascript">
var ns = (navigator.appName.indexOf("Netscape") != -1);
var d = document;
var px = document.layers ? "" : "px";
function JSFX_FloatDiv(id, sx, sy)
{
	var el=d.getElementById?d.getElementById(id):d.all?d.all[id]:d.layers[id];
	window[id + "_obj"] = el;
	if(d.layers)el.style=el;
	el.cx = el.sx = sx;el.cy = el.sy = sy;
	el.sP=function(x,y){this.style.left=x+px;this.style.top=y+px;};
	el.flt=function()
	{
		var pX, pY;
		pX = (this.sx >= 0) ? 0 : ns ? innerWidth : 
		document.documentElement && document.documentElement.clientWidth ? 
		document.documentElement.clientWidth : document.body.clientWidth;
		pY = ns ? pageYOffset : document.documentElement && document.documentElement.scrollTop ? 
		document.documentElement.scrollTop : document.body.scrollTop;
		if(this.sy<0) 
		pY += ns ? innerHeight : document.documentElement && document.documentElement.clientHeight ? 
		document.documentElement.clientHeight : document.body.clientHeight;
		this.cx += (pX + this.sx - this.cx)/8;this.cy += (pY + this.sy - this.cy)/8;
		this.sP(this.cx, this.cy);
		setTimeout(this.id + "_obj.flt()", 40);
	}
	return el;
}

JSFX_FloatDiv("divBottomRight", -200, -100).flt();

</script>
<!-- Slider -->
<div id="inner-banner01">
  <div id="inner-wrapper01">
    <div class="inner-bannertxt">
      <div class="banner-txt01">
        <h1>Managed VPS Hosting</h1>
          <span class="bn-txt02">Powerful, Scalable, Dependable-Virtual Private Servers With Free Management </span>
        <ul>
          <li>Windows VPS and Linux VPS Options</li>
          <li>Zero Overselling Policy</li>
          <li>Free VPS Management Services</li>
        </ul>
      </div>
      <div class="get-secondmonth"><a href="https://secure.jaguarpc.com/checkout/html/?type=vps">
	  <img src="../images/get-secondmonth.gif" alt="" width="436" height="125" border="0" /></a></div>
    </div>
	
    <div class="inner-nav01">
      <ul>
        <li><a href="linux-vps.php.html" title="Linux VPS Hosting">Linux VPS</a> |</li>
        <li><a href="windows-vps.php.html" title="Windows VPS Hosting">Windows VPS</a> |</li>
        <li><a href="addons.php.html" title="VPS Hosting Addons">VPS Add-ons</a> |</li>
        <li><a href="technology.php.html" title="VPS Hosting technology">VPS Technology</a> |</li>
        <li><a href="../about/network.php.html" title="VPS Hosting Network and Datacenters">Network &amp; Data centers</a> </li>
      </ul>
    </div>
	
  </div>
</div>
<div class="bred-crumb">
  <ul>
    <li style="color:#000000;">You are here &nbsp;  &raquo;&raquo;</li>
    <li><a href="../index.html">Home</a></li>
    <li><a href="index.html" class="active">VPS Hosting</a></li>
  </ul>
</div>
<!-- Definition of Web Hosting -->
<!-- Content -->
<div id="Subpage-Wrapper">
  <!-- Content Box -->
  <div id="Left-Content">
  <div class="leftpan-topcontents">
		<h2>VPS Hosting</h2>
		JaguarPC VPS hosting comes with root access, dedicated resources, and complete system isolation, and is ideal for your growing website or web based application. 
		Choose your VPS web hosting plan today.  
	</div>
<div class="tab-sliderbg">
    <div id="example-two">
      <ul class="nav">
        <li class="nav-one"><a href="#featured">Linux VPS Plans</a></li>
        <li class="nav-one"><a href="#core">Windows VPS Plans</a></li>
      </ul>
	  
      <div class="list-wrap">
	  <div id="Linux" class="Accordion-Header">Linux VPS Plans </div>
        <div id="featured">
		<div class="slide-bg01">
          <div class="Conf-Container Vps">
            <div class="title Footer-Blue"><img src="../images/icons/ubuntu-logo.png" alt="" width="28" height="28" />
              <p>Linux VPS Plus</p>
            </div>
            <img src="../images/boxes/big-box-twos.png" alt="" width="104" height="119" />
            <ul>
              <li><strong>25 GB</strong> Disk Space</li>
              <li><strong>512 MB</strong> RAM</li>
              <li><strong>2048 MB</strong> Burst RAM</li>
              <li><strong>10 Mbps</strong> Bandwidth</li>
              <li><strong>Equal CPU</strong> (1 core min.)</li>
            </ul>
            <br />
            <div class="cndb">
              <p class="Float-Left">From $19.95</p>
              <p class="Float-Right"><a href="https://secure.jaguarpc.com/checkout/html/?type=vps"><img src="../images/order-new5.gif" alt="" width="121" height="32" /></a></p>
            </div>
          </div>
		  </div>
		  
          <div class="Conf-Container Vps">
            <div class="title Footer-Blue"><img src="../images/icons/ubuntu-logo.png" alt="" width="28" height="28" />
              <p>Linux VPS Pro </p>
            </div>
            <img src="../images/boxes/big-box-twos.png" alt="" width="104" height="119" />
            <ul>
              <li><strong>50 GB</strong> Disk Space</li>
              <li><strong>1024 MB</strong> RAM</li>
              <li><strong>2048 MB </strong>Burst RAM</li>
              <li><strong>10 Mbps</strong> Bandwidth</li>
              <li><strong>Equal CPU</strong> (1 core min.)</li>
            </ul>
            <div class="cndb">
              <p class="Float-Left">From $29.95</p>
              <p class="Float-Right"><a href="https://secure.jaguarpc.com/checkout/html/?type=vps"><img src="../images/order-new5.gif" alt="" width="121" height="32" /></a></p>
            </div>
          </div>
          <br />
		  
		  <div class="slide-bg01">
          <div class="Conf-Container Vps">
            <div class="title Footer-Blue"><img src="../images/icons/ubuntu-logo.png" alt="" width="28" height="28" />
              <p>Linux VPS Business </p>
            </div>
            <img src="../images/boxes/big-box-twos.png" alt="" width="104" height="119" />
            <ul>
              <li><strong>100 GB</strong> Disk Space</li>
              <li><strong>2048 MB</strong> RAM</li>
              <li><strong>4096 MB</strong> Burst RAM</li>
              <li><strong>10 Mbps</strong> Bandwidth</li>
              <li><strong>Equal CPU</strong> (2 core min.)</li>
            </ul>
            <div class="cndb">
              <p class="Float-Left">From $49.95</p>
              <p class="Float-Right"><a href="https://secure.jaguarpc.com/checkout/html/?type=vps"><img src="../images/order-new5.gif" alt="" width="121" height="32" /></a></p>
            </div>
          </div>
		  </div>
		  
          <div class="Conf-Container Vps">
            <div class="title Footer-Blue"><img src="../images/icons/ubuntu-logo.png" alt="" width="28" height="28" />
              <p>Linux VPS  Enterprise</p>
            </div>
            <img src="../images/boxes/big-box-twos.png" alt="" width="104" height="119" />
            <ul>
              <li><strong>150 GB</strong> Disk Space</li>
              <li><strong>3072 MB</strong> RAM</li>
              <li><strong>6144 MB</strong> Burst RAM</li>
              <li><strong>10 Mbps</strong> Bandwidth</li>
              <li><strong>Equal CPU</strong> (2 core min.)</li>
            </ul>
            <div class="cndb">
              <p class="Float-Left">From $69.95</p>
              <p class="Float-Right"><a href="https://secure.jaguarpc.com/checkout/html/?type=vps"><img src="../images/order-new5.gif" alt="" width="121" height="32" /></a></p>
            </div>
          </div>
        </div>
        <div id="Windows" class="Accordion-Header">Windows VPS Plans </div>
		<div id="core">
		<div class="slide-bg01">
          <div class="Conf-Container Vps">
            <div class="title Footer-Green"><img src="../images/icons/windows-logo.png" alt="" width="28" height="28" />
              <p>Windows VPS Plus</p>
            </div>
            <img src="../images/boxes/big-box-twos.png" alt="" width="104" height="119" />
            <ul>
              <li><strong>25 GB</strong> Disk Space</li>
              <li><strong>512 MB</strong> RAM</li>
              <li><strong>2048 MB</strong> Burst RAM</li>
              <li><strong>10 Mbps</strong> Bandwidth</li>
              <li><strong>Equal CPU</strong> (1 core min.)</li>
            </ul>
            <br />
            <div class="cndb">
              <p class="Float-Left">From $29.95</p>
             <p class="Float-Right"><a href="https://secure.jaguarpc.com/checkout/html/?type=vps-win"><img src="../images/order-new5.gif" alt="" width="121" height="32" /></a></p>
            </div>
          </div>
		  </div>
		  
          <div class="Conf-Container Vps">
            <div class="title Footer-Green"><img src="../images/icons/windows-logo.png" alt="" width="28" height="28" />
              <p>Windows VPS Pro</p>
            </div>
            <img src="../images/boxes/big-box-twos.png" alt="" width="104" height="119" />
            <ul>
              <li><strong>50 GB</strong> Disk Space</li>
              <li><strong>1024 MB</strong> RAM</li>
              <li><strong>2048 MB</strong> Burst RAM</li>
              <li><strong>10 Mbps</strong> Bandwidth</li>
              <li><strong>Equal CPU</strong> (1 core min.)</li>
            </ul>
            <div class="cndb">
              <p class="Float-Left">From $39.95</p>
              <p class="Float-Right"><a href="https://secure.jaguarpc.com/checkout/html/?type=vps-win"><img src="../images/order-new5.gif" alt="" width="121" height="32" /></a></p>
            </div>
          </div>
          <br />
		  
		  <div class="slide-bg01">
          <div class="Conf-Container Vps">
            <div class="title Footer-Green"><img src="../images/icons/windows-logo.png" alt="" width="28" height="28" />
              <p>Windows VPS Business </p>
            </div>
            <img src="../images/boxes/big-box-twos.png" alt="" width="104" height="119" />
            <ul>
              <li><strong>101 GB</strong> Disk Space</li>
              <li><strong>5,000 GB</strong> Bandwidth</li>
              <li><strong>2049 MB</strong> RAM</li>
              <li><strong>4096 MB</strong> Burst RAM</li>
              <li><strong>Equal CPU</strong> (2 core min.)</li>
            </ul>
            <div class="cndb">
              <p class="Float-Left">From $59.95</p>
              <p class="Float-Right"><a href="https://secure.jaguarpc.com/checkout/html/?type=vps-win"><img src="../images/order-new5.gif" alt="" width="121" height="32" /></a></p>
            </div>
          </div>
		  </div>
		  
          <div class="Conf-Container Vps">
            <div class="title Footer-Green"><img src="../images/icons/windows-logo.png" alt="" width="28" height="28" />
              <p>Windows VPS Enterprise</p>
            </div>
            <img src="../images/boxes/big-box-twos.png" alt="" width="104" height="119" />
            <ul>
              <li><strong>150 GB</strong> Disk Space</li>
              <li><strong>3072 MB</strong> RAM</li>
              <li><strong>6144 MB</strong> Burst RAM</li>
              <li><strong>10 Mbps</strong> Bandwidth</li>
              <li><strong>Equal CPU</strong> (2 core min.)</li>
            </ul>
            <div class="cndb">
              <p class="Float-Left">From $79.95</p>
              <p class="Float-Right"><a href="https://secure.jaguarpc.com/checkout/html/?type=vps-win">
			  <img src="../images/order-new5.gif" width="121" height="32" /></a></p>
            </div>
          </div>
        </div>
      </div>
	  
      <!-- END List Wrap -->
    </div>
		</div>
		
  	<div class="leftpan-contents03">
<h2>VPS Web Hosting from the Hosting Experts</h2>

JaguarPC uses industry-leading software and the most powerful hardware nodes to provide the industry's best VPS hosting for Windows and Linux. With over 14 years of web hosting expertise and a proven track record, we deliver better support, better performance, and better results for all your VPS web hosting needs. 
<br /><br />
JaguarPC VPS hosting services start with custom high end Quad-core Xeon VPS nodes packed with excessive RAM. Our combination of high quality RAID editions drives, high-end RAID-10 arrays, and custom tweaking yields superior hosting performance. And we load your VPS web hosting plan with powerful VPS management software from a world leader in virtualization.

<h2>VPS Hosting - The power of a dedicated server at a fraction of the cost</h2>

If shared hosting is ideal for a start-up business and a dedicated server is ideal for websites with large quantities of traffic, VPS hosting is designed for businesses and individuals who need more than shared hosting, but don't want to the price tag of dedicated hosting. We can quickly set up your Windows VPS web hosting or Linux VPS web hosting service on a shared hardware server, but with allocated system resources that you can depend on as your business grows. 
<br /><br />
Every VPS plan from JaguarPC features generous allocations of disk space, bandwidth and RAM, with burst RAM to protect your hosting account against unpredictable traffic spikes. In addition, at JaguarPC we are committed to never overselling our hardware, helping you to maintain consistent VPS hosting performance, regardless of what your neighbors are doing. 

<h2>Why JaguarPC has the best VPS hosting services</h2>

JaguarPC strives to be the best VPS hosting provider in the industry, giving you more flexibility, more power, and more features than any other host. The best VPS web hosting plans bring together not only exceptional hardware configured by experienced VPS web hosting specialists, but also ongoing customer support including managed features, 24/7/365 support, and an extensive VPS knowledgebase.
<br /><br />
JaguarPC understands that the best VPS hosting is the solution that is tailored to your individual and unique needs. With a choice of operating systems, control panels, and system configurations, we make it easier for you to choose the best VPS plan for your business.
	</div>
    <div class="leftpan-contents03">
    <div class="Content-Header"> <h3> <span>24/7 Talented</span> VPS Hosting Support Team</h3></div>
    <p class="Content-Paragraph Content-Bottom2"> <img src="../images/icons/vps-thum01.gif" class="Float-Left feature" width="120" height="110" alt="Failover Icon" /> - 24/7/365 Tech Support via Live Phone, Chat, Email, Ticket System<br />
      - 24/7/365 Proactive Monitoring<br />
      - Staff and offices onsite in the data center for faster turnaround<br />
      - Detailed Support knowledge base with video tutorials<br />
      - Active community forums with management participation<br />
      - Updated active company blog<br />
    </p>
    <div class="Content-Header"><h3><span>Fully Loaded</span> VPS Hosting </h3></div>
    <img src="../images/icons/vps-thum02.gif" class="Float-Left feature" width="120" height="110" alt="VPS root" />
    <p class="Content-Paragraph Content-Bottom2"> - <a href="managed-vps.php.html">VPS Managed services</a> included with control panel<br />
      - Idera powered Daily backups included<br />
      - Root Access/Admin with remote desktop<br />
      - Host Unlimited domains<br />
      - Unlimited inbound bandwidth<br />
    </p>
    <div class="Content-Header"><h3> <span>VPS Management</span> Software </h3></div>
    <img src="../images/icons/vps-thum03.gif" class="Float-Left feature" width="120" height="110" alt="high end VPS" />
    <p class="Content-Paragraph Content-Bottom2"> - Choice of OS; CentOS, Ubuntu, Debian, Fedora Core, Suse, Windows<br />
      - JaguarPC Client Dashboard, manage all your accounts, billing, support, and more<br />
      - SolousVM or Virtuozzo VPS Management Software<br />
      - Choice of control panels: WHM/Cpanel vps optimized, Interworx, DirectAdmin, Plesk for just a few dollars more<br /><br />
    </p>
    <div class="Content-Header"> <h3><span>Powerful</span> VPS Hosting Hardware &amp; Network</h3> </div>
    <img src="../images/icons/vps-thum04.gif" class="Float-Left feature" width="120" height="110" alt="VPS overselling" />
    <p class="Content-Paragraph Content-Bottom2"> - Intel Xeon Multi-processor multi-core VPS Nodes <br />
      - Registered ECC RAM packed VPS nodes, with generous reserves <br />
      - Fully redundant 8x RAID-10 drive arrays for faster I/O<br />
      - State of the art next generation datacenters<br />
      - Managed Cisco &amp; HP networking equipment<br />
      - Multiple providers over multiple locations<br />
    </p>
    <div class="Content-Header" style="margin:0; padding:0;"><h3> <span>Like FREE VPS Hosting Stuff?</span> We do too!</h3> </div><br />
    <img src="../images/icons/vps-thum05.gif" class="Float-Left feature" width="120" height="110" alt="Virtuozzo" />
    <p class="Content-Paragraph Content-Bottom2"> 
      - FREE Moving Assitance<br />
      - FREE VPS security and hardening<br />
      - FREE 3 IP Addresses<br />
      - FREE Enom Domain Reseller account<br />
	  - Client/Support/Billing software <a href="http://www.clientexec.com" rel="nofollow" target="_new">Clientexec</a>; or <a href="http://www.whmcs.com" rel="nofollow" target="_new">WHMCS</a> for a few dollars more<br />
    </p>
    <br /></div>
    <div class="resell-listbg">
		<div class="resell-hd"><h4>Resell VPS Packages:</h4></div>
		<div class="resell-lst"><img src="../images/ico01.gif" alt="" width="17" height="19" /> Value added features such as Clientexec, WHMCS, eNom reseller, Softaculous, Fantastico, RVskin, and more.</div>
		<div class="resell-lst"><img src="../images/ico01.gif" alt="" width="17" height="19" /> Upsell opportunities including VsControl, R1soft, Plesk, WHM/Cpanel, RvSiteBuilder, RapidSSL, and more...</div>
		<div class="resell-lst"><img src="../images/ico01.gif" alt="" width="17" height="19" /> Sliding scale of discounts for volume: </div>
		<div class="resell-lst"><img src="../images/ico01.gif" alt="" width="17" height="19" /> 2nd-4th VPS Server: 10% discount off plans only</div>
		<div class="resell-lst"><img src="../images/ico01.gif" alt="" width="17" height="19" /> 5th-9th: 15% discount off plans only</div>
		<div class="resell-lst"><img src="../images/ico01.gif" alt="" width="17" height="19" /> 10th+: 20% discount off plans only</div>
		<div class="resell-lst"><img src="../images/ico01.gif" alt="" width="17" height="19" /> Contact Sales after your first vps is setup!</div>
	</div>
	<div class="get-your2">
		<div>Get Your Second Month Free</div>
		<a href="https://secure.jaguarpc.com/checkout/html/?type=vps-win"><img src="../images/order-big.gif" alt="" border="0" /></a> </div>
  </div>
  <!-- Right Bar -->
  <div id="Right-Bar">
    <div class="new-rightpan">
      <div class="new-rgtbox">
        <div class="help02">
          <div class="help-txt01"> <span>Need Help?</span><br />
            <div style="padding-top:7px;">Click here to chat with us</div>
            <br />
            <a href="JavaScript:newPopup('../chatsupport.html');"><img src="../images/chat2.gif" alt="" border="0" /></a> </div>
        </div>
        <div class="phone01">
          <div class="ph-txt01">
            <div class="ph-head1">
              <h4> Call Us <span>Now</span> </h4>
              24 / 7 Support from </div>
            <div class="ph-head2"> <span>Sales: </span>(888) 338-5261<br />
              <span>Support:</span> (888)-551-3050<br />
            </div>
          </div>
        </div>
        <div class="daybg">
          <div class="ph-txt01">
            <div class="ph-head1">
              <h4> <span>45&nbsp;</span>days<span> !!!</span> </h4>
              <span class="spn-txt01">money back </span><span class="spn-txt02">guarantee</span><br />
              Don't like your service within <b>45 days</b>? Don't pay for it. </div>
          </div>
        </div>
      </div>
      <div class="new-rgtbox">
       <div class="new-box01">
          <div class="tst-head02"> Testimonials </div>
          <div class="new-test2">
            <div class="new-testi">
      	  <DIV id=slider1 class=sliderwrapper>
		<DIV class=contentdiv>		
		<P class=Content-Paragraph003>Having worked with several VPS hosting providers I have learned that the hardest thing to get out of a host is consistency. With JaguarPC I have had consistent support, consistent performance, and consistent reliability.</P>&nbsp;&nbsp; 
		<H5 class=Italic>(By:&nbsp;<A href="http://wenbiz.org/" rel=nofollow target=_blank>Clint Eschberger</A>)</H5></DIV>
		
		<DIV class=contentdiv><P class=Content-Paragraph003>JaguarPC has been very helpful with tech support!</P>&nbsp;&nbsp; 
		<H5 class=Italic>(By:&nbsp;<A href="http://www.philgoulet.com/" rel=nofollow target=_blank>http://www.philgoulet.com/</A>)</H5></DIV>
		
		<DIV class=contentdiv><P class=Content-Paragraph003>Jaguar PC, a no-fuss hosting company with excellent support and fantastic reliability. Been with them for years and get better all the time.</P>&nbsp;&nbsp; 
		<H5 class=Italic>(By:&nbsp;<A href="http://www.drjuliansaunders.com/" rel=nofollow target=_blank>http://www.drjuliansaunders.com/</A>)</H5>
		</DIV>

	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;Champion Consulting is absolutely outstanding...I couldn't be happier and I've recommended it to others. Well done, folks!&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;I love Champion Consulting. They are very knowledgeable. They respond to any inquiries usually within a couple of minutes. Their hosting is very reliable and the best price around.&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;Champion Consulting has the quickest response time in their help desk around. Great guys to have working for you.&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;Whenever I have needed help, tech support has has been extremely fast and helpful. I have recommened several friends and will continue to do so.&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;Best host! Fast setup! Very excellent support. I would reccommend!&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;Champion Consulting has make our web hosting dreams come true, with the ease to the control panels, excellent uptime, and great support. I would recommend Champion Consulting to anyone looking for the hosting that they need, and want.&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;These folks rock! Answers to questions have always been prompt and courtious. Good bang for the buck.&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;I am highly staisfied with the level of support and service at Champion Consulting. My old host took days to reply. These guys usually only take a few minutes&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;I have 12 domains hosted at Champion Consulting and I have another 20 or so more that I am going to switch over&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;We have a fully managed dedicated server and my sites are always fast and my server is always up, and because of that, our site continues to grow. I don't think we would have been able to start out so small and grow to as large as we are now without Champion Consulting's help.&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;We are web hosting resellers and we took Champion Consulting up on their free domain name reseller plan and I must say I am actually quite shocked we didn't do it sooner. Our domain name reseller site is already making hundreds of dollars per month and I do basically nothing but link to our domain name registration site from our existing sites. Highly Recommended them!&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;Love the tech support, and I'm happy with the cost per month. It's been a wonderful experience. Looking for a host, I would suggest you try their services!&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;Over all my experience with Champion Consulting has been great. The service is excellent and the price is affordable.&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;I've have rented space from five providers in eight years. All had problems and were expensive. Champion Consulting prices are right and I am happy to report two excellent years of service from them to date.&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;Champion Consulting is a very reliable provider, with personal-level support. Their control panel is sweet. Champion Consulting is by far the best provider I have used in the last seven or so years, and I have been through four other providers in that time.&quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>
	
	<DIV class=contentdiv><P class=Content-Paragraph003>&quot;I have been online and dealing with hosting services for my various domains for 8 years. In that time the best hosting provider I have worked with has been Champion Consulting. &quot;
	<H5 class=Italic>(By:&nbsp; <A href="#" rel=nofollow target=_blank>/</A>)</H5></DIV>

<DIV id=paginate-slider1><!--<DIV id=paginate-slider1 class=pagination></DIV>--></DIV></DIV>
<SCRIPT type=text/javascript>

featuredcontentslider.init({
	id: "slider1",  //id of main slider DIV
	contentsource: ["inline", ""],  //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
	//toc: "#markup",  //Valid values: "#increment", "markup", ["label1", "label2", etc]
	nextprev: ["", ""],  //labels for "prev" and "next" links. Set to "" to hide.
	revealtype: "mouseover", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
	enablefade: [true, 0.1],  //[true/false, fadedegree]
	autorotate: [true, 10000],  //[true/false, pausetime]
	onChange: function(previndex, curindex){  //event handler fired whenever script changes slide
		//previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
		//curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
	}
})

</SCRIPT>
<!--<a href="#"><img src="../images/123.gif" alt="" border="0" align="right"/></a>-->
		</div>
	</div>
			  </div>
          </div>
        </div>
      </div>
	  
      <div class="new-rgtbox">
        <div class="new-box01">
			<div class="right-nav01">
				<div>Web Hosting Areas</div>
				<ul>
					<li><a href="managed-vps.php.html"><img src="../images/whatis-hosting.gif" alt="" /> VPS Management</a></li>
					<li><a href="../support/quickstart.php.html"><img src="../images/quick-start.gif" alt="" />QuickStart Guide</a></li>
					<li><a href="../affiliates/index.html"><img src="../images/hosting-affliliates.gif" alt="" />Hosting Affiliates</a></li>
					<li><a href="../services/domains.php.html"><img src="../images/domain-regi.gif" alt="" />Domain Registration</a></li>
					<li><a href="../services/merchant.php.html"><img src="../images/merchant-account.gif" alt="" />Merchant-account</a></li>
					<li><a href="../about/network.php.html"><img src="../images/network-datacentre.gif" alt="" />Network &amp; Data centers</a></li>
					<li><a href="../about/testimony.php.html"><img src="../images/testimonial.gif" alt="" />Testimonials</a></li>
				</ul>
			</div>
          
        </div>
      </div>
    </div>
  </div>
  <!-- /Right Bar -->
  <div class="Clear-Both"></div>
</div>
<!-- /Content -->
<!-- Begin Footer -->
<!-- Begin Footer -->

<div id="Footer">
  <div class="Top-Awards">
    <div class="Logo-Types">
      <!-- Icons ->
      Left -->
      <div style="float:left; width:500px;"> <br />
<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Security Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/pci/mini/MS_1190.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Trust Guard Certified" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/certified/mini/MS_1191.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Privacy Verified Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/privacy/mini/MS_1192.html" /></a>

<a name="trustlink" href="http://secure.trust-guard.com/certificates/5785" target="_blank"
onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.href.replace('http', 'https'),'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;">
<img name="trustseal" alt="Business Verified Seal" style="border: 0;" src="../https/secure.trust-guard.com/seals/5785/business/mini/MS_1193.html" /></a>

	<!--<a href="#"><img src="http://www.jaguarpc.com/images/footer/truste.gif" alt="" width="108" height="33" border="0" /></a>#-->
	
	</div>
      <!-- <a target='_blank'  rel="nofollow" href='http://www.bbbonline.org/cks.asp?id=1081022121914'><img src="images/footer/bbb.jpg" class="Float-Left Award-Spacing" alt="" title='Click to verify BBB accreditation and to see a BBB report.' /></a> #-->
      <!-- Icons ->
      Right -->
      <div style="float:right; width:280px; height:auto;">
        <div style="font-family:Arial, Helvetica, sans-serif ; font-size:16px; font-weight:bold; float:left; padding-right:10px; color:#605f5f; padding-top:17px;">Get Social:</div>
		<div style="float:left;"> 
		<a href="http://forums.jaguarpc.com"><img src="../images/footer/vbulletin-icon.png" alt="Community Forum" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://blog.jaguarpc.com/"><img src="../images/footer/blg-icon.gif" alt="JaguarPC Blog" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://twitter.com/"><img src="../images/footer/twitter-icon.png" alt="JaguarPC twitter" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
		<a href="http://www.facebook.com/jaguarpc"><img src="../images/footer/facebook-icon.gif" alt="JaguarPC facebook" width="33" height="35" border="0" class="Float-Right Award-Spacing" /></a>
          <!--<img src="/images/footer/del.png" alt="delicious" width="33" height="35" class="Float-Right Award-Spacing" />#-->
        </div>
      </div>
      
    </div>
  </div>
  <div class="Clear-Both"></div>
  <!-- Footer ->  Content -->
  <div id="Footer-Content">
    <!-- Footer ->
    Content -> Block 1 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../web-hosting/index.html" title="Hosting Services" class="Footer-Link">Web Hosting</a></li>
        <li class="Unbulleted-List"><a href="../reseller-hosting/index.html" title="cpanel Reseller Hosting" class="Footer-Link">Reseller Hosting</a></li>
        <li class="Unbulleted-List"><a href="../dedicated-server-hosting/index.html" title="Dedicated Servers" class="Footer-Link">Dedicated Servers</a></li>
        <li class="Unbulleted-List"><a href="linux-vps.php.html" title="Linux vps Hosting" class="Footer-Link">Linux VPS Hosting</a></li>
        <li class="Unbulleted-List"><a href="index.html" title="vps Hosting" class="Footer-Link">VPS Hosting</a></li>
      </ul>
    </div>
    <!-- Footer ->
    Content -> Separator -->
    <div class="Footer-Separator"> &nbsp; </div>
    <!-- Footer ->
    Content -> Block 2 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../articles.php.html" title="Specialty Hosting" class="Footer-Link">Hosting Specialties</a></li>
        <li class="Unbulleted-List"><a href="../affiliates/index.html" title="Hosting Affiliate program" class="Footer-Link">Affiliate Program</a></li>
        <li class="Unbulleted-List"><a href="../about/index.html" title="The Company" class="Footer-Link">About Our Company</a></li>
        <li class="Unbulleted-List"><a href="../about/team.php.html" title="About Hosting" class="Footer-Link">Talented Hosting Team</a></li>
        <li class="Unbulleted-List"><a href="../about/network.php.html" title="Datacenter and Network" class="Footer-Link">Datacenter &amp; Network</a></li>
      </ul>
    </div>
    <!-- Footer ->
    Content -> Separator -->
    <div class="Footer-Separator"> &nbsp; </div>
    <!-- Footer ->
    Content -> Block 3 -->
    <div class="Footer-Block">
      <ul class="Footer-Links">
        <li class="Unbulleted-List"><a href="../services/index.html" title="Hosting Services" class="Footer-Link">Hosting Services</a></li>
        <li class="Unbulleted-List"><a href="http://blog.jaguarpc.com/" title="Web Hosting Blog" class="Footer-Link">Hosting Blog</a></li>
        <li class="Unbulleted-List"><a href="http://forums.jaguarpc.com" title="Hosting community" class="Footer-Link">WebHost Community</a></li>
        <li class="Unbulleted-List"><a href="../about/policy-tos.php.html" title="TOS" class="Footer-Link">Terms Of Service</a></li>
        <li class="Unbulleted-List"><a href="../sitemap.php.html" title="Hosting Sitemap" class="Footer-Link">Sitemap</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="Copyright">
  <p class="Paragraph-Padding" align="center">Copyright &copy; 2012 JaguarPC.com</p>
</div>
<!-- /Footer -->

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>

<!-- /Footer -->
</body>
<!-- /Body -->
</html>
<!-- /JaguarPC -->
